<!-- sideBar -->
<div class="a3-sidebar-wrapper" [ngClass]="style">
    <div class="a3-sidebar-header">
        <span>{{title}}</span>
        <div *ngIf="title === 'Application List'" class="a3-comment">
            <i class="fa a3-comment-icon" (mouseover)="showDescription(true)" (mouseout)="showDescription(false)"></i>
            <div *ngIf="isShowDesc" class="text">Suggested applications for further analysis</div>
        </div>
        <ul class="sidebar-icons">
            <li class="add-icon" (click)="$event.preventDefault(); addDashboard();" *ngIf="gnbTypeId === 'a3pDashboardList'"></li>
            <li class="resize-icon" (click)="$event.preventDefault(); toggleSize();"></li>
            <li class="close-icon" (click)="$event.preventDefault(); closeSidebar();"></li>
        </ul>
    </div>
    <!-- dynamically generate gnbTypeId list -->
    <div class="a3-sidebar-container" #sidebarContainer>
        <!-- Spinner -->
        <div a3-spinner #spinner [type]="'sideBar'"></div>
        <!-- sidebarGenerator -->
        <div #sidebarGenerator class="a3p-sidebar-generator"></div>
    </div>
</div>
<!-- sideBar background -->
<div class="a3-sidebar-background"
    (click)="sidebarAction.close()"
    [ngClass]="{'hidden': style == ''}">
</div>
