<div class="a3-user-lists-wrapper"
    [ngClass]="{'a3-user-listbar-open': isOpen}">
    <div>
        <div class="user-list-home" (click)="goMyworkspace()">My workspace</div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"
                [ngClass]="{'active': selectedTab === 'shared'}" 
                (click)="selectedTab = 'shared'">
                <a>Invitator</a>
            </li>
            <li role="presentation"
                [ngClass]="{'active': selectedTab === 'sharing'}" 
                (click)="selectedTab = 'sharing'">
                <a>Receiver</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" [ngClass]="{'active': selectedTab === 'shared'}" >
                <ul class="a3-user-lists">
                    <li *ngFor="let user of sharedUsers"
                        [ngClass]="{'a3-selected': selectedUserId === user.userId}"
                        (click)="sharedUserClick(user)">
                        {{user.userName}}
                    </li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" [ngClass]="{'active': selectedTab === 'sharing'}" >
                <ul class="a3-user-lists" >
                    <li *ngFor="let user of sharingUsers"
                        [ngClass]="{'a3-selected': selectedUserId === user.userId}"
                        (click)="sharingUserClick(user)">
                        {{user.userName}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>