<!-- Start Edit Workspace Modal -->
<div bsModal #smModal="bs-modal"
    class="modal fade"
    tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel"
    (click)="$event.stopPropagation();"
    (onHide)="cancel()">
    <div class="modal-dialog a3-modal-dialog-addShare a3-modal-dialog-toggle" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <div class="pull-left a3-pull-left">
                    <h4 class="modal-title" id="myModalLabel" *ngIf="!slideOpen">Edit Workspace : <span>WS-{{editData.workspaceId}}</span></h4>
                    <h4 class="modal-title" id="myModalLabel" *ngIf="slideOpen">Add Share - <span>{{editData.workspaceId}} {{editData.title}}</span></h4>
                </div>
                <div class="pull-right a3-pull-right">
                    <div class="can-toggle demo-rebrand-1">
                    <input id="d" #d type="checkbox" (click)="toggleCheck(d.checked)">
                    <label for="d">
                        <div class="can-toggle__switch" data-checked="Add Share" data-unchecked="Edit Workspace"></div>
                    </label>
                    </div>
                    <button type="button"
                        class="close pe-7s-close a3-header-close"
                        data-dismiss="modal"
                        aria-label="Close"
                        (click)="$event.preventDefault(); $event.stopPropagation(); cancel()">
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="a3-body-edit-workspace clearfix">
                    <form class="form-horizontal" #editForm="ngForm">
                        <div class="form-group">
                            <label for="workspaceName" class="col-sm-3 control-label">Workspace Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="workspaceName" placeholder="" name="workspaceName" [(ngModel)]="editData.title" #workspaceName="ngModel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea id="description" name="description" class="form-control" rows="9" maxlength="500"  [(ngModel)]="editData.description" #description="ngModel"></textarea>
                                <span class="a3-limit-text" *ngIf="(editData.description.length > 499)">Please enter a value between 0 and 500 characters</span>
                                <span class="a3-limit-text" *ngIf="(editData.description.length <= 499)"></span>
                            </div>
                        </div>
                    </form>
                    
                    <div class="a3-btns-wrapper">
                        <button type="button" class="btn btn-default" (click)="$event.preventDefault(); $event.stopPropagation(); cancel()">Cancel</button>
                        <button type="submit" class="btn btn-default" [disabled]="(editData.description.length === 500)" (click)="$event.preventDefault(); $event.stopPropagation(); ok();">Apply</button>
                    </div>
                  
                </div>
                <!-- a3-slide-open이면 슬라이드가 오픈된다. <div class="a3-body-add-share a3-slide-open clearfix"> -->
                <div class="a3-body-add-share clearfix" [ngClass]="{'a3-slide-open':slideOpen}">
                    <shared-body #shareBody></shared-body>
                </div>

            </div>
            <!--<div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="$event.preventDefault(); $event.stopPropagation(); cancel()">Cancel</button>
              <button type="button" class="btn btn-default" [disabled]="(editData.description.length === 500)" (click)="$event.preventDefault(); $event.stopPropagation(); ok();">Apply</button>
            </div>-->
        </div>
    </div>
</div>
<!-- End Edit Workspace Modal -->
