<div class="a3-navbar-header col-xs-5">
    <!-- <img src="assets/images/BI-black.svg" class="a3-navbar-bi" (click)="getHomeDashboard()"></img> -->
    <div class="a3-navbar-bi" title="Manufacturing Intelligence 1.0​" (click)="getHomeDashboard()">{{gnbLogo}}</div>
    <!-- <div class="a3-navbar-bi" (click)="getHomeDashboard()"></div> -->
    <!-- <div class="a3-navbar-bi"
             [ngClass]="{'dashboard': homeType === gnbTypeId.DASHBOARD, 'workspace': homeType === gnbTypeId.WORKSPACE}"
             (click)="goHome();"></div> -->
    <a href="#" (click)="$event.preventDefault(); goGlobalConfig();"><span class="menu-span glyphicon glyphicon-menu-hamburger
        " aria-hidden="true"></span></a>
    <div class="line"></div>

    <!-- <div *ngIf="homeType === gnbTypeId.DASHBOARD" class="dropdown pull-left">
            <div type="button" class="btn btn-default btn-xs a3-gnb-icon option dropdown" title="Dashboard Option" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-cog"></i>
            </div>
            <ul aria-labelledby="dLabel" class="dropdown-menu">
                <li>
                    <a href="#" (click)="$event.preventDefault(); refreshDashboard();">Refresh Dashboard</a>
                </li>
                <li>
                    <a href="#" (click)="$event.preventDefault(); addDashboard();">Add Dashboard</a>
                </li>
                <li>
                    <a href="#" (click)="$event.preventDefault(); deleteDashboard();">Delete Dashboard</a>
                </li>
            </ul>
        </div> -->

    <!-- <div class="a3-snb-title">
            <i class="fa fa-star a3-home-dashboard selected"></i>{{title}}
        </div> -->
    <a3p-navigation-title [main]="main" [isShared]="loginUserId !== viewOwnerId" [shareUser]="viewOwnerId" *ngIf="homeType !== gnbTypeId.APPCONFIG">
    </a3p-navigation-title>

</div>

<div class="col-xs-2">
    <ul *ngIf="homeType === gnbTypeId.DASHBOARD" class="a3-navbar-pagenation pager">
        <li>
            <a class="a3-navbar-pagenation-left" href="#" title="Previous Dashboard"
               (click)="$event.preventDefault(); goPrevDashboard();" name="Previous">
                <i class="fa fa-chevron-left"></i>
            </a>
        </li>
        <li class="num">{{dashboardIndex + 1}} / {{dashboardLength}}</li>
        <li>
            <a class="a3-navbar-pagenation-right" href="#" title="Next Dashboard" (click)="$event.preventDefault(); goNextDashboard();" name="Next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
    </ul>
    <ul *ngIf="homeType === gnbTypeId.WORKSPACE" class="a3-navbar-pagenation pager hidden">
        <li>
            <a *ngIf="false" class="a3-navbar-pagenation-left" href="#" title="previous tasker"
               (click)="$event.preventDefault(); goPrevTasker();" name="Previous">
                <i class="fa fa-chevron-left"></i>
            </a>
        </li>
        <li class="num">{{taskerIndex + 1}} / {{taskerLength}}</li>
        <li>
            <a *ngIf="false" class="a3-navbar-pagenation-right" href="#" title="next tasker"
                (click)="$event.preventDefault(); goNextTasker();" name="Next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
    </ul>
    <ul *ngIf="homeType === gnbTypeId.APPCONFIG" class="a3-navbar-pagenation pager">
        <li></li>
    </ul>
</div>

<!--
    APPCONFIG 로직 추가하면서 아래 로직 주석처리.
    위 로직 이상없으면 삭제 예정
    <div *ngIf="homeType === gnbTypeId.DASHBOARD" class="col-xs-2">
        <ul class="a3-navbar-pagenation pager">
            <li>
                <a class="a3-navbar-pagenation-left" href="#" (click)="$event.preventDefault(); goPrevDashboard();" name="Previous">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li class="num">{{dashboardIndex + 1}} / {{dashboardLength}}</li>
            <li>
                <a class="a3-navbar-pagenation-right" href="#" (click)="$event.preventDefault(); goNextDashboard();" name="Next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>

    <div *ngIf="homeType === gnbTypeId.WORKSPACE" class="col-xs-2">
        <ul class="a3-navbar-pagenation pager">
            <li>
                <a *ngIf="false" class="a3-navbar-pagenation-left" href="#" (click)="$event.preventDefault(); goPrevTasker();" name="Previous">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
            <li class="num">{{taskerIndex + 1}} / {{taskerLength}}</li>
            <li>
                <a *ngIf="false" class="a3-navbar-pagenation-right" href="#" (click)="$event.preventDefault(); goNextTasker();" name="Next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
    -->

<div class="a3-navbar-function col-xs-5">
    <div class="dropdown">
        <div type="button"
             class="a3-gnb-icon logout dropdown"
             title="Logout"
             data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            <i class="icon-header-user"></i>
            <!-- <div class="a3-user-circle"" div-tag="true"></div> -->
        </div>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
            <li><a href="#" (click)="$event.preventDefault(); goUserConfig();">User Information</a></li>
            <!--<li><a href="#" (click)="$event.preventDefault(); userSetting();">Settings</a></li>-->
            <li><a href="#" (click)="logout()">Log Out</a></li>
        </ul>
    </div>
        <div class="dropdown">
        <div type="button"
             class="a3-gnb-icon logout dropdown"
             title="Global Config"
             data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            <i class="icon-header-settings"></i>
        </div>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
            <li><a href="#" (click)="$event.preventDefault(); goGlobalConfig();">PDM Configuration</a></li>
            <li *ngIf="isAdmin()"><a href="#" (click)="$event.preventDefault(); goAppConfig();">Application Configuration</a></li>
        </ul>
    </div>
    <!-- <div class="dropdown" *ngIf="isAdmin()">
        <div type="button"
             class="a3-gnb-icon logout dropdown"
             title="Application Configuration"
             data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            <i class="icon-header-settings"></i>
        </div>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
            <li><a href="#" (click)="$event.preventDefault(); goAppConfig();">Application Configuration</a></li>
        </ul>
    </div> -->
    <div class="line"></div>
    <div type="button"
         class="a3-gnb-icon notice hidden" [ngClass]="{active: isNotice}"
         title="Notice"
         (click)="$event.preventDefault(); $event.stopPropagation();  toggleSidebar(gnbTypeId.GNB_NOTICE_LIST, 'small');">
        <i class="icon-header-notice"></i>
        <span class="badge" [ngClass]="{hidden: notificationUnreadCount <= 0}">{{ this.notificationUnreadCount }}</span>
    </div>
    <!--
    @hongsikyoo : 2017.03.15
    acubed map, acubed net hidden 처리
    -->
    <div type="button"
         class="a3-gnb-icon map hidden"
         [ngClass]="{active: isAcubedMap}"
         title="ACubed Map"
         (click)="$event.preventDefault(); $event.stopPropagation();  toggleSidebar(gnbTypeId.GNB_ACUBED_MAP, 'full');">
        <i class="icon-header-map"></i>
    </div>
    <div type="button"
         class="a3-gnb-icon cube-net hidden"
         [ngClass]="{active: isAcubedNet}"
         title="ACubed Net"
         (click)="$event.preventDefault(); $event.stopPropagation();  toggleSidebar(gnbTypeId.GNB_ACUBED_NET, 'full');">
        <i class="icon-header-cube"></i>
    </div>
    <div type="button"
         class="a3-gnb-icon widget"
         *ngIf="!main?.predefined"
         [ngClass]="{active: isWidgetList, disabled: isDisabledWidgetList || (loginUserId !== viewOwnerId)}"
         [attr.title]="widgetListTitle"
         (click)="$event.preventDefault(); $event.stopPropagation();  toggleSidebar(gnbTypeId.GNB_WIDGET_LIST, 'small');">
        <i class="icon-header-widget"></i>
    </div>
    <div type="button"
         class="a3-gnb-icon dashboard-list"
         [ngClass]="{active: isDashboardList}"
         title="Dashboard List"
         (click)="$event.preventDefault(); $event.stopPropagation();  toggleSidebar(gnbTypeId.GNB_DASHBOARD_LIST, 'small');">
        <i class="icon-header-dashboard"></i>
    </div>
    <div class="a3-header-info">{{buildInfo}}</div>
</div>
