<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bistel.pdm.web.mapper.AreaMapper">

    <select id="findByName" resultType="Area">
        select * from area_mst_pdm where name = #{name}
    </select>


</mapper>