<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bistel.a3.portal.dao.pdm.std.summary.STDSummaryMapper">



    <select id="selectStatusCountSummary" resultType="com.bistel.a3.portal.domain.pdm.AreaFaultCountSummary">
        select area_mst_pdm.rawid as area_id, areaeqp.area_name, areaeqp.total_count, areaeqp.eqp_offline as offline_count, areaeqp.alarm_count, areaeqp.warning_count, areaeqp.normal_count
        from

        (

        select area_name, total_count, eqp_offline, alarm_count, warning_count, total_count-(eqp_offline+alarm_count+warning_count) as normal_count
        from
        (

        select total.areagroupname as area_name, total.eqp_total_count as total_count,(total.eqp_total_count-eqponline.eqp_online) as eqp_offline , aw.alarm_count as alarm_count, aw.warning_count as warning_count
        from
        (
        select areagroupname, count(eqp_mst_rawid) as eqp_total_count
        from
        (
        select areagroupname,area_id as area_mst_rawid ,eqp.name as eqp_name, eqp.rawid as eqp_mst_rawid, eqp.offline_yn
        from eqp_mst_pdm eqp,
        (
        select * from
        (SELECT
        name as areagroupname,
        rawid AS area_id,
        level,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        )
        where leaf =1
        union all
        SELECT
        areagroup.name as  areagroupname,
        area.rawid AS area_id,
        level,
        area.name,
        area.parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm area,
        (
        SELECT
        rawid AS area_id,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        ) areagroup

        START WITH
        area.parent_rawid = areagroup.area_id
        CONNECT BY
        PRIOR area.rawid = area.parent_rawid
        ) area_info
        where eqp.area_mst_rawid = area_info.area_id
        order by areagroupname desc
        )
        group by areagroupname

        ) total,

        (
        select  areagroupname, count(eqp_offline_yn) as eqp_online
        from
        (
        select areagroupname,area_id as area_mst_rawid ,eqp.name as eqp_name, eqp.rawid as eqp_mst_rawid, eqp.offline_yn as eqp_offline_yn
        from eqp_mst_pdm eqp,
        (
        select * from
        (SELECT
        name as areagroupname,
        rawid AS area_id,
        level,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        )
        where leaf =1
        union all
        SELECT
        areagroup.name as  areagroupname,
        area.rawid AS area_id,
        level,
        area.name,
        area.parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm area,
        (
        SELECT
        rawid AS area_id,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        ) areagroup

        START WITH
        area.parent_rawid = areagroup.area_id
        CONNECT BY
        PRIOR area.rawid = area.parent_rawid
        ) area_info
        where eqp.area_mst_rawid = area_info.area_id
        order by areagroupname desc

        )
        where 1=1
        and eqp_offline_yn='N'
        group by areagroupname

        ) eqponline,



        (

        select areagroupname, alarm_count, warning_count
        from
        (

        select area_alarm_count.areagroupname as areagroupname, area_alarm_count.alarm_count as alarm_count, area_warning_count.warning_count as warning_count
        from
        (

        select areagroupname, count(alarm_count) alarm_count
        from
        (

        select Area_eqp_list.area_mst_rawid, Area_eqp_list.areagroupname, Area_eqp_list.eqp_mst_rawid, Area_eqp_list.eqp_name, specout_eqp.alarm_count alarm_count
        from
        (
        select eqp_mst_rawid, alarm_count
        from
        (
        select specout.eqp_mst_rawid as eqp_mst_rawid , nvl(alarm.alarm_count,0) as alarm_count
        from
        (
        select eqp_mst_rawid,count(status_cd) as total_count
        from eqp_alarm_daily_sum_pdm
        where 1=1
        and sum_dtts <![CDATA[>=]]> #{fromdate}
        and sum_dtts <![CDATA[<]]> #{todate}
        group by eqp_mst_rawid
        ) specout,
        (
        select eqp_mst_rawid,count(status_cd) as alarm_count
        from eqp_alarm_daily_sum_pdm
        where 1=1
        and sum_dtts <![CDATA[>=]]> #{fromdate}
        and sum_dtts <![CDATA[<]]> #{todate}
        and status_cd=256
        group by eqp_mst_rawid
        ) alarm
        where 1=1
        and alarm.eqp_mst_rawid(+)=specout.eqp_mst_rawid
        )
        )specout_eqp,



        (select areagroupname, area_mst_rawid, eqp_name, eqp_mst_rawid
        from
        (
        select areagroupname,area_id as area_mst_rawid,eqp.name as eqp_name ,eqp.rawid as eqp_mst_rawid
        from eqp_mst_pdm eqp,
        (
        select * from
        (SELECT
        name as areagroupname,
        rawid AS area_id,
        level,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        )
        where leaf =1
        union all
        SELECT
        areagroup.name as  areagroupname,
        area.rawid AS area_id,
        level,
        area.name,
        area.parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm area,
        (
        SELECT
        rawid AS area_id,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        ) areagroup
        START WITH
        area.parent_rawid = areagroup.area_id
        CONNECT BY
        PRIOR area.rawid = area.parent_rawid
        ) area_info
        where eqp.area_mst_rawid = area_info.area_id
        order by areagroupname desc
        )
        )Area_eqp_list
        where 1=1
        and specout_eqp.eqp_mst_rawid=Area_eqp_list.eqp_mst_rawid


        )
        where 1=1
        and alarm_count>0
        group by areagroupname

        ) area_alarm_count,


        (
        select areagroupname, count(alarm_count) as warning_count
        from
        (

        select Area_eqp_list.area_mst_rawid, Area_eqp_list.areagroupname, Area_eqp_list.eqp_mst_rawid, Area_eqp_list.eqp_name, specout_eqp.alarm_count alarm_count
        from
        (
        select eqp_mst_rawid, alarm_count
        from
        (
        select specout.eqp_mst_rawid as eqp_mst_rawid , nvl(alarm.alarm_count,0) as alarm_count
        from
        (
        select eqp_mst_rawid,count(status_cd) as total_count
        from eqp_alarm_daily_sum_pdm
        where 1=1
        and sum_dtts <![CDATA[>=]]> #{fromdate}
        and sum_dtts <![CDATA[<]]> #{todate}
        group by eqp_mst_rawid
        ) specout,
        (
        select eqp_mst_rawid,count(status_cd) as alarm_count
        from eqp_alarm_daily_sum_pdm
        where 1=1
        and sum_dtts <![CDATA[>=]]> #{fromdate}
        and sum_dtts <![CDATA[<]]> #{todate}
        and status_cd=256
        group by eqp_mst_rawid
        ) alarm
        where 1=1
        and alarm.eqp_mst_rawid(+)=specout.eqp_mst_rawid
        )
        )specout_eqp,



        (select areagroupname, area_mst_rawid, eqp_name, eqp_mst_rawid
        from
        (
        select areagroupname,area_id as area_mst_rawid,eqp.name as eqp_name ,eqp.rawid as eqp_mst_rawid
        from eqp_mst_pdm eqp,
        (
        select * from
        (SELECT
        name as areagroupname,
        rawid AS area_id,
        level,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        )
        where leaf =1
        union all
        SELECT
        areagroup.name as  areagroupname,
        area.rawid AS area_id,
        level,
        area.name,
        area.parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm area,
        (
        SELECT
        rawid AS area_id,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        ) areagroup
        START WITH
        area.parent_rawid = areagroup.area_id
        CONNECT BY
        PRIOR area.rawid = area.parent_rawid
        ) area_info
        where eqp.area_mst_rawid = area_info.area_id
        order by areagroupname desc
        )
        )Area_eqp_list
        where 1=1
        and specout_eqp.eqp_mst_rawid=Area_eqp_list.eqp_mst_rawid


        )
        where 1=1
        and alarm_count=0
        group by areagroupname


        ) area_warning_count

        where 1=1
        and area_alarm_count.areagroupname(+)=area_warning_count.areagroupname

        )

        ) aw

        where 1=1
        and total.areagroupname=eqponline.areagroupname
        and eqponline.areagroupname=aw.areagroupname
        )


        ) areaeqp,
        area_mst_pdm
        where areaeqp.area_name=AREA_MST_PDM.NAME

    </select>



    <select id="selectAlarmHistoryAll" resultType="com.bistel.a3.portal.domain.pdm.AlarmHistory">
        select areaeqp.areagroupname as area_name, areaeqp.area_id as area_id,  areaeqp.eqp_mst_rawid as eqp_id  ,areaeqp.eqp_name ,alarmhistory.alarm_dtts, alarmhistory.param_mst_rawid as param_id, alarmhistory.param_name, alarmhistory.category, alarmhistory.fault_class
        from
        (
        select areagroupname,area_id,eqp.name as eqp_name,eqp.rawid as eqp_mst_rawid
        from eqp_mst_pdm eqp,
        (
        select * from
        (SELECT
        name as areagroupname,
        rawid AS area_id,
        level,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        )
        where leaf =1
        union all
        SELECT
        areagroup.name as  areagroupname,
        area.rawid AS area_id,
        level,
        area.name,
        area.parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm area,
        (
        SELECT
        rawid AS area_id,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        ) areagroup

        START WITH
        area.parent_rawid = areagroup.area_id
        CONNECT BY
        PRIOR area.rawid = area.parent_rawid
        ) area_info
        where eqp.area_mst_rawid = area_info.area_id
        order by areagroupname desc

        ) areaeqp,



        (
        select alarm_dtts,eqp_mst_rawid, eqp_name, param_mst_rawid, param_name, DECODE(category,'256', 'Alarm','128','Warning') as category, fault_class
        from
        (
        select emp.rawid as eqp_mst_rawid, emp.name as eqp_name, pmp.rawid as param_mst_rawid, pmp.name as param_name, atp.ALARM_TYPE_CD as category, atp.fault_class, atp.ALARM_DTTS as alarm_dtts
        from alarm_trx_pdm atp, eqp_mst_pdm emp, param_mst_pdm pmp
        where 1=1
        and atp.alarm_dtts <![CDATA[>=]]> #{fromdate}
        and atp.alarm_dtts <![CDATA[<]]> #{todate}
        and atp.PARAM_MST_RAWID=pmp.rawid
        and pmp.eqp_mst_rawid=emp.rawid
        )
        ) alarmhistory
        where 1=1
        and alarmhistory.eqp_mst_rawid=areaeqp.eqp_mst_rawid
        order by alarmhistory.alarm_dtts

    </select>



    <select id="selectAlarmHistoryByAreaId" resultType="com.bistel.a3.portal.domain.pdm.AlarmHistory">
        select area_name, area_id, eqp_id, eqp_name, alarm_dtts, param_id, param_name, category, fault_class
        from
        (
        select areaeqp.areagroupname as area_name, areaeqp.area_id as area_id,  areaeqp.eqp_mst_rawid as eqp_id  ,areaeqp.eqp_name ,alarmhistory.alarm_dtts, alarmhistory.param_mst_rawid as param_id, alarmhistory.param_name, alarmhistory.category, alarmhistory.fault_class
        from
        (
        select areagroupname,area_id,eqp.name as eqp_name,eqp.rawid as eqp_mst_rawid
        from eqp_mst_pdm eqp,
        (
        select * from
        (SELECT
        name as areagroupname,
        rawid AS area_id,
        level,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        )
        where leaf =1
        union all
        SELECT
        areagroup.name as  areagroupname,
        area.rawid AS area_id,
        level,
        area.name,
        area.parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm area,
        (
        SELECT
        rawid AS area_id,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        where level=2
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        ) areagroup

        START WITH
        area.parent_rawid = areagroup.area_id
        CONNECT BY
        PRIOR area.rawid = area.parent_rawid
        ) area_info
        where eqp.area_mst_rawid = area_info.area_id
        order by areagroupname desc

        ) areaeqp,



        (
        select alarm_dtts,eqp_mst_rawid, eqp_name, param_mst_rawid, param_name, DECODE(category,'256', 'Alarm','128','Warning') as category, fault_class
        from
        (
        select emp.rawid as eqp_mst_rawid, emp.name as eqp_name, pmp.rawid as param_mst_rawid, pmp.name as param_name, atp.ALARM_TYPE_CD as category, atp.fault_class, atp.ALARM_DTTS as alarm_dtts
        from alarm_trx_pdm atp, eqp_mst_pdm emp, param_mst_pdm pmp
        where 1=1
        and atp.alarm_dtts <![CDATA[>=]]> #{fromdate}
        and atp.alarm_dtts <![CDATA[<]]> #{todate}
        and atp.PARAM_MST_RAWID=pmp.rawid
        and pmp.eqp_mst_rawid=emp.rawid
        )
        ) alarmhistory
        where 1=1
        and alarmhistory.eqp_mst_rawid=areaeqp.eqp_mst_rawid
        order by alarmhistory.alarm_dtts
        )
        where 1=1
        and area_id= #{area_id}

    </select>


    <select id="selectAlarmHistoryByEqpId" resultType="com.bistel.a3.portal.domain.pdm.AlarmHistory">
        select alarm.alarm_dtts,eqp.name as eqp_name,param.name as param_name,
        case ALARM_TYPE_CD when '256' then 'Alarm' when '128' then 'Warning' end as category,
        fault_class
        from alarm_trx_pdm alarm,eqp_mst_pdm eqp,param_mst_pdm param
        where
        alarm.alarm_dtts <![CDATA[>=]]> #{fromdate}
        and alarm.alarm_dtts <![CDATA[<]]> #{todate}
        and alarm.param_mst_rawid in (
            select rawid from param_mst_pdm where eqp_mst_rawid =#{eqp_id}
        )
        and param.rawid = alarm.param_mst_rawid
        and param.eqp_mst_rawid = eqp.rawid


    </select>

    <select id="selectAlarmClassificationSummary" resultType="com.bistel.a3.portal.domain.pdm.AlarmClassification">

        select fault_class, count(1) as count
        from
        (
        select alarmeqp.eqp_id as eqp_id, fc.fault_class as fault_class, count(fc.fault_class) as fault_count
        from
        (
        select distinct fault_class
        from alarm_trx_pdm
        ) fc,
        (
        select pmp.EQP_MST_RAWID as eqp_id, atp.fault_class
        from param_mst_pdm pmp,
        (
        select param_mst_rawid,fault_class
        from ALARM_TRX_PDM
        where 1=1
        and alarm_type_cd=256
        and alarm_dtts <![CDATA[>=]]> #{fromdate}
        and alarm_dtts <![CDATA[<]]> #{todate}
        ) atp

        where 1=1
        and pmp.rawid=atp.param_mst_rawid
        and pmp.EQP_MST_RAWID in(

        select distinct eqp.rawid
        from
        (
        select *
        from
        (
        SELECT
        rawid AS area_id,
        name,
        parent_rawid AS parent_id,
        CONNECT_BY_ISLEAF AS leaf
        FROM
        area_mst_pdm
        START WITH
        parent_rawid = 0
        CONNECT BY
        PRIOR rawid = parent_rawid
        ORDER BY
        leaf,
        parent_id
        )
        where 1=1
        and leaf=1
        )areas, eqp_mst_pdm eqp
        where 1=1
        and areas.area_id=eqp.area_mst_rawid

        )

        ) alarmeqp
        where fc.fault_class=alarmeqp.fault_class
        group by fc.fault_class , alarmeqp.eqp_id
        )
        group by fault_class

    </select>


    <select id="selectLineStatusTrend" resultType="com.bistel.a3.portal.domain.pdm.AreaFaultCountSummary">
        select total.groupdate as day, total.total_count, alarm.alarm_count, warning.warning_count, offlines.offline_count, total.total_count-(alarm.alarm_count+warning.warning_count+offlines.offline_count) as normal_count
        from
        (

        select groupdate, count(eqp_mst_rawid) as alarm_count
        from
        (
        select eqpalarm.groupdate, eqpalarm.eqp_mst_rawid, emp.offline_yn
        from
        (
        select groupdate, eqp_mst_rawid
        from
        (
        select to_char(alarm_dtts,'yyyy-MM-dd')  as groupdate , param.eqp_mst_rawid
        from alarm_trx_pdm alarm,param_mst_pdm param
        where alarm_dtts <![CDATA[>=]]> #{fromdate}
        and alarm_dtts <![CDATA[<]]> #{todate}
        and alarm_type_cd = 256
        and alarm.param_mst_rawid = param.rawid
        group by to_char(alarm_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid
        order by groupdate
        )
        ) eqpalarm,
        eqp_mst_pdm emp
        where 1=1
        and eqpalarm.eqp_mst_rawid=emp.rawid
        and emp.offline_yn='N'
        order by groupdate
        )
        group by groupdate
        order by groupdate

        ) alarm,



        (
        select groupdate,count (eqp_mst_rawid) as warning_count
        from
        (
        select eqpwarn.groupdate, eqpwarn.eqp_mst_rawid
        from
        (



        select *
        from
        (

        (
        select to_char(alarm_dtts,'yyyy-MM-dd')  as groupdate ,  param.eqp_mst_rawid
        from alarm_trx_pdm alarm,param_mst_pdm param
        where alarm_dtts <![CDATA[>=]]> #{fromdate}
        and alarm_dtts <![CDATA[<]]> #{todate}
        and alarm_type_cd = 128
        and alarm.param_mst_rawid = param.rawid
        group by to_char(alarm_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid

        )
        minus

        (
        select to_char(alarm_dtts,'yyyy-MM-dd')  as groupdate ,  param.eqp_mst_rawid
        from alarm_trx_pdm alarm,param_mst_pdm param
        where alarm_dtts <![CDATA[>=]]> #{fromdate}
        and alarm_dtts <![CDATA[<]]> #{todate}
        and alarm_type_cd = 256
        and alarm.param_mst_rawid = param.rawid
        group by to_char(alarm_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid

        )
        )


        ) eqpwarn,
        eqp_mst_pdm emp
        where 1=1
        and eqpwarn.eqp_mst_rawid=emp.rawid
        and emp.offline_yn='N'
        order by groupdate
        )
        group by groupdate
        order by groupdate

        ) warning,



        (
        select groupdate, count(eqp_mst_rawid) as total_count
        from
        (
        select to_char(event_dtts,'yyyy-MM-dd')  as groupdate ,  param.eqp_mst_rawid
        from trace_trx_pdm trx,param_mst_pdm param
        where event_dtts <![CDATA[>=]]> #{fromdate}
        and event_dtts <![CDATA[<]]> #{todate}
        and trx.param_mst_rawid = param.rawid
        group by to_char(event_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid
        order by groupdate
        )
        group by groupdate
        order by groupdate
        ) total,


        (

        select groupdate, count(eqp_mst_rawid) as offline_count
        from
        (
        select *
        from
        (
        select to_char(event_dtts,'yyyy-MM-dd')  as groupdate ,  param.eqp_mst_rawid
        from trace_trx_pdm trx,param_mst_pdm param, eqp_mst_pdm eqp
        where event_dtts <![CDATA[>=]]> #{fromdate}
        and event_dtts <![CDATA[<]]> #{todate}
        and trx.param_mst_rawid = param.rawid
        and param.eqp_mst_rawid= eqp.rawid
        and eqp.offline_yn='Y'
        group by to_char(event_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid
        order by groupdate
        )
        )
        group by groupdate
        order by groupdate

        ) offlines

        where 1=1
        and offlines.groupdate=total.groupdate
        and total.groupdate=warning.groupdate
        and warning.groupdate=alarm.groupdate


    </select>


    <select id="selectLineStatusTrendByAreaId" resultType="com.bistel.a3.portal.domain.pdm.AreaFaultCountSummary">
        select total.groupdate as day, total.total_count, alarm.alarm_count, warning.warning_count, offlines.offline_count , total.total_count-(alarm.alarm_count+warning.warning_count+offlines.offline_count) as normal_count
        from

        (

        select groupdate, count(eqp_mst_rawid) as alarm_count
        from
        (
        select eqpalarm.groupdate, eqpalarm.eqp_mst_rawid, emp.offline_yn
        from
        (
        select groupdate, eqp_mst_rawid
        from
        (
        select to_char(alarm_dtts,'yyyy-MM-dd')  as groupdate , param.eqp_mst_rawid
        from alarm_trx_pdm alarm,param_mst_pdm param
        where alarm_dtts <![CDATA[>=]]> #{fromdate}
        and alarm_dtts <![CDATA[<]]> #{todate}
        and alarm_type_cd = 256
        and alarm.param_mst_rawid = param.rawid
        group by to_char(alarm_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid
        order by groupdate
        )
        ) eqpalarm,
        eqp_mst_pdm emp
        where 1=1
        and eqpalarm.eqp_mst_rawid=emp.rawid
        and emp.offline_yn='N'
        and emp.area_mst_rawid= #{area_id}
        order by groupdate
        )
        group by groupdate
        order by groupdate

        ) alarm,



        (
        select groupdate,count (eqp_mst_rawid) as warning_count
        from
        (
        select eqpwarn.groupdate, eqpwarn.eqp_mst_rawid
        from
        (



        select *
        from
        (

        (
        select to_char(alarm_dtts,'yyyy-MM-dd')  as groupdate ,  param.eqp_mst_rawid
        from alarm_trx_pdm alarm,param_mst_pdm param
        where alarm_dtts <![CDATA[>=]]> #{fromdate}
        and alarm_dtts <![CDATA[<]]> #{todate}
        and alarm_type_cd = 128
        and alarm.param_mst_rawid = param.rawid
        group by to_char(alarm_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid

        )
        minus

        (
        select to_char(alarm_dtts,'yyyy-MM-dd')  as groupdate ,  param.eqp_mst_rawid
        from alarm_trx_pdm alarm,param_mst_pdm param
        where alarm_dtts <![CDATA[>=]]> #{fromdate}
        and alarm_dtts <![CDATA[<]]> #{todate}
        and alarm_type_cd = 256
        and alarm.param_mst_rawid = param.rawid
        group by to_char(alarm_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid

        )
        )


        ) eqpwarn,
        eqp_mst_pdm emp
        where 1=1
        and eqpwarn.eqp_mst_rawid=emp.rawid
        and emp.offline_yn='N'
        and emp.area_mst_rawid= #{area_id}
        order by groupdate
        )
        group by groupdate
        order by groupdate

        ) warning,


        (
        select groupdate, count(eqp_mst_rawid) as total_count
        from
        (
        select to_char(event_dtts,'yyyy-MM-dd')  as groupdate ,  param.eqp_mst_rawid
        from trace_trx_pdm trx,param_mst_pdm param, eqp_mst_pdm emp
        where event_dtts <![CDATA[>=]]> #{fromdate}
        and event_dtts <![CDATA[<]]> #{todate}
        and trx.param_mst_rawid = param.rawid
        and param.eqp_mst_rawid=emp.rawid
        and emp.area_mst_rawid= #{area_id}
        group by to_char(event_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid
        order by groupdate
        )
        group by groupdate
        order by groupdate
        ) total,



        (

        select groupdate, count(eqp_mst_rawid) as offline_count
        from
        (
        select *
        from
        (
        select to_char(event_dtts,'yyyy-MM-dd')  as groupdate ,  param.eqp_mst_rawid
        from trace_trx_pdm trx,param_mst_pdm param, eqp_mst_pdm eqp
        where event_dtts <![CDATA[>=]]> #{fromdate}
        and event_dtts <![CDATA[<]]> #{todate}
        and trx.param_mst_rawid = param.rawid
        and param.eqp_mst_rawid= eqp.rawid
        and eqp.offline_yn='Y'
        and eqp.area_mst_rawid= #{area_id}
        group by to_char(event_dtts,'yyyy-MM-dd'), param.eqp_mst_rawid
        order by groupdate
        )
        )
        group by groupdate
        order by groupdate

        ) offlines

        where 1=1
        and offlines.groupdate=total.groupdate
        and total.groupdate=warning.groupdate
        and warning.groupdate=alarm.groupdate


    </select>

</mapper>


