<!-- initValue is locationTypes --> 
<a3s-location-selector *ngFor="let locationType of config.initValue"
    [locationType]="locationType"
    (changedLocation)="changedLocation($event)"
    (location)="registerLocation($event)"
    [outsideClassToClose]="outsideClassToClose">
</a3s-location-selector>

<a3s-multi-selector *ngIf="config.isToolModelEnable"
    [config]="configModel" 
    [isNotDynamic]="true"
    (selectedItem)="changedToolModel($event)"
    [outsideClassToClose]="outsideClassToClose">
</a3s-multi-selector>

<a3s-multi-selector *ngIf="config.isToolsEnable"
    [config]="configEquipment" 
    [isNotDynamic]="true"
    (selectedItem)="changedTools($event)"
    [outsideClassToClose]="outsideClassToClose">
</a3s-multi-selector>

<a3s-multi-selector *ngIf="config.isExcludeParamsEnable"
    [config]="configExcludeParams" 
    [isNotDynamic]="true"
    (selectedItem)="changedExcludeParams($event)"
    [outsideClassToClose]="outsideClassToClose">
</a3s-multi-selector>