<div class="a3-shared-lists">
    <!-- tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" [ngClass]="{'active': selectedTab === 'user'}" (click)="changeTab('user')">
            <a aria-controls="users" role="tab" data-toggle="tab">Users</a>
        </li>
        <li role="presentation" [ngClass]="{'active': selectedTab === 'group'}" (click)="changeTab('group')">
            <a aria-controls="group" role="tab" data-toggle="tab">Group</a>
        </li>
        <li role="presentation" [ngClass]="{'active': selectedTab === 'all'}" (click)="changeTab('all')">
            <a aria-controls="all" role="tab" data-toggle="tab">All</a>
        </li>
        <h5 class="a3-shared-lists-title">Shared Lists</h5>
    </ul>
    <!-- Tab Contents -->
    <div class="a3-shadow-wrapper">
        <div class="a3-shadow a3-shadow-top"></div>
        <div class="a3-shadow a3-shadow-bottom"></div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all">
            <div class="a3-shadow-cover-top"></div>
            <span *ngFor="let member of sharedMembersFilter" [ngSwitch]="member.type">
                <shared-user-card *ngSwitchCase="'user'"
                                  (click)="detailCard(member)"
                                  (emitDeleteCard)="deleteCard($event)"
                                  [userInfo]="member">
                </shared-user-card>
                <shared-group-card *ngSwitchCase="'group'"
                                   (click)="detailCard(member)"
                                   (emitDeleteCard)="deleteCard($event)"
                                   [userInfo]="member">
                </shared-group-card>
            </span>
            <div class="a3-shadow-cover-bottom"></div>
        </div>
    </div>
</div>
