@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?76418190');
  src: url('fontello.eot?76418190#iefix') format('embedded-opentype'),
       url('fontello.woff2?76418190') format('woff2'),
       url('fontello.woff?76418190') format('woff'),
       url('fontello.ttf?76418190') format('truetype'),
       url('fontello.svg?76418190#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76418190#fontello') format('svg');
  }
}
*/

 [class^="ai-"]:before, [class*=" ai-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  height:16px;
  width:16px;
  margin-right:5px;
  text-align: center;
  opacity: .8;



  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ai-unselect:before {
  content: '\e802'; } /* '' */
.ai-drilldown-internal:before {
  content: '\e805';
  font-size: 13px;} /* '' */
.ai-detail-view:before {
  content: '\e806';
  font-size: 15px;} /* '' */
