<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bistel.a3.portal.dao.common.TaskerBehaviorMapper">
    <resultMap id="BaseResultMap" type="com.bistel.a3.portal.domain.common.TaskerBehavior">
        <id column="tasker_behavior_id" property="taskerBehaviorId"/>
        <result column="tasker_behavior_type_name" property="taskerBehaviorTypeName"/>
        <result column="tasker_id" property="taskerId"/>
        <result column="status" property="status"/>
        <result column="start_dtts" property="startDtts"/>
        <result column="end_dtts" property="endDtts"/>
    </resultMap>
    <sql id="BaseAllQuery">
        select a.*
        from tasker_behavior_a3 a
            join tasker_a3 b
                on b.tasker_id = a.tasker_id
    </sql>
    <select id="selectByTaskerId" resultMap="BaseResultMap">
        <include refid="BaseAllQuery"/>
        where
            b.workspace_id = #{workspaceId}
        and b.tasker_id = #{taskerId}
    </select>
    <select id="select" resultMap="BaseResultMap">
        <include refid="BaseAllQuery"/>
        where a.tasker_behavior_id = #{taskerBehaviorId}
    </select>
    <resultMap id="OutputResultMap" type="com.bistel.a3.portal.domain.common.TaskerBehaviorData">
        <id column="tasker_behavior_id" property="taskerBehaviorId"/>
        <result column="input" property="input" typeHandler="json"/>
        <result column="output" property="output" typeHandler="json"/>
    </resultMap>
    <select id="selectOutput" resultMap="OutputResultMap">
        select *
        from tasker_behavior_data_a3
        where tasker_behavior_id = #{taskerBehaviorId}
    </select>
    <insert id="insert">
        <selectKey resultType="Long" keyProperty="taskerBehaviorId" order="BEFORE">
            select seq_tasker_behavior_a3.nextval from dual
        </selectKey>
        insert into tasker_behavior_a3 (
            tasker_behavior_id, tasker_behavior_type_name, tasker_id, status, start_dtts
        ) values (
            #{taskerBehaviorId},
            #{taskerBehaviorTypeName},
            #{taskerId},
            #{status},
            systimestamp
        )
    </insert>
    <insert id="insertData">
        insert into tasker_behavior_data_a3 (
            tasker_behavior_id, input
        ) values (
            #{taskerBehaviorId},
            #{input, typeHandler=json}
        )
    </insert>
    <delete id="deleteData">
        delete from tasker_behavior_data_a3
        where tasker_behavior_id = #{taskerBehaviorId}
    </delete>
    <delete id="delete">
        delete from tasker_behavior_a3
        where tasker_behavior_id = #{taskerBehaviorId}
    </delete>
    <update id="updateStatus">
        update tasker_behavior_a3
        set status = #{status},
            end_dtts = systimestamp
        where tasker_behavior_id = #{taskerBehaviorId}
    </update>
    <update id="updateOutputData">
        update tasker_behavior_data_a3
        set output = #{output, typeHandler=json}
        where tasker_behavior_id = #{taskerBehaviorId}
    </update>
</mapper>