<div bsModal #smModal="bs-modal" class="modal a3-global-modal-dialog fade" 
        style="z-index: 1050; display: block;" index="0" tabindex="-1" 
        role="dialog" aria-labelledby="confirm" aria-hidden="true"
        (onHide)="close()">
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content" >-->
        <div class="a3-global-modal-content" >
            <div class="modal-header clearfix">
                <div class="pull-left">
                    <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-cancel" 
                            (click)="$event.preventDefault(); $event.stopPropagation(); close();">
                            {{ 'BUTTON.GENERAL.CLOSE' | translate }}
                    </button>
                    <button type="button" class="btn btn-default" 
                            *ngIf="!hideApplyButton"
                            [ngClass]="disabledStyle" data-dismiss="modal"
                            (click)="$event.preventDefault(); $event.stopPropagation(); apply();">
                            {{ 'BUTTON.GENERAL.APPLY' | translate }}
                    </button>
                </div>
            </div>
            <div class="modal-body" [ngClass]="style">
                <!-- Spinner -->
                <div a3-spinner #spinner [type]="'applySpinner'"></div>
                <!-- Module Generator -->
                <div #modalModule></div>
            </div>
        </div>
    <!--</div>-->
</div>

<!--<div class="a3-global-modal-dialog">
    <div class="a3-global-modal-content">
        <div class="modal-header clearfix">
            <div class="pull-left">
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default" (click)="$event.stopPropagation(); close();">close</button>
                <button type="submit" class="btn btn-default" (click)="$event.stopPropagation(); apply();">Apply</button>
            </div>
        </div>
        <div class="modal-body">
            <div class="a3-parameter-contents">
                parameter data 영역
            </div>
        </div>
    </div>
</div>
<div class="a3-sidebar-background"></div>-->