<div class="a3-configuration-wrapper" [ngClass]="style">
    <!-- header -->
    <div class="a3-configuration-header">
        <span class="a3-header-title col-xs-6">
            <span class="a3-title">Configuration</span>
            <!-- <a3p-widget-configuration-title [main]="widgetModel"></a3p-widget-configuration-title> -->
        </span>

        <span class="a3-header-back-wrapper col-xs-6">
            <span class="a3-configuration-apply">
                <a href="#" type="button" class="btn btn-primary btn-sm" [ngClass]="{ 'disabled': !configurationFormGroup.valid }" (click)="$event.preventDefault();  applyConfiguration();">Apply</a>
            </span>
            <span class="a3-configuration-close">
                <a href="#" type="button" class="btn btn-primary btn-sm" (click)="$event.preventDefault();  closeConfiguration();">Close</a>
            </span>
        </span>
    </div>
    <!-- end header -->

    <!-- main container -->
    <div class="a3-configuration-main-wrapper">
        <div class="a3-configuration-container">
            <div class="a3-configuration-sub-container">
                <!-- widget -->
                <div class="col-sm-6 col-md-6 a3-configuration-widget">
                    <div class="float-wrapper" *ngIf="isRefresh">
                        <dl>
                            <dt>
                                <i class="icon icon-refresh"></i>
                            </dt>
                            <dd>
                                <a class="btn btn-primary" href="#" (click)="$event.preventDefault();  refreshConfiguration();">Refresh</a>
                            </dd>
                        </dl>
                    </div>
                    <div style="width:100%; height:100%; pointer-events:none; opacity:0.7;">
                        <!-- display widget -->
                        <div [ngClass]="{ 'blur': isRefresh }">
                            <div class="a3-widget-container">
                                <div class="a3-widget-body" #widgetConfigurationBody>
                                    <div a3-spinner #spinner [type]="'widget'"></div>
                                    <div class="height-full" [ngClass]="{'blur': isBlur}">
                                        <div #widgetConfigurationGenerator></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- widget configuration options -->
                <div class="col-sm-6 col-md-6 a3-configuration">
                    <!-- create dynamic configuration forms -->
                    <div id="a3p-widget-configuration-params-generator" style="height:100%; width:100%;">

                        <form [formGroup]="configurationFormGroup">
                            <div *ngFor="let property of configurationFormControls" class="form-row">
                                <div a3s-dynamic-form [form]="configurationFormGroup" [item]="property"></div>
                            </div>
                            <!--pre>{{ configurationFormGroup.valid }}</pre>
                            <pre>{{ configurationFormGroup.value | json }}</pre-->
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>