.wj-flexgrid {
     height: 100%;
}
.wj-tooltip {
    top: 0px;
    left: 0px;
    max-width: 300px;
    padding: 6px;
    border-radius: 4px;
    font-size: 11px;
}
.grid-icon:hover {
     cursor: pointer;
 }
.wj-popup {
    background-color: #ffffff !important;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    z-index: 1500;
    margin: 2px 0px;
}
.wj-page-combo.wj-control.wj-dropdown.wj-content.wj-combobox {
    /*position: relative;*/
    width: 70px;
}
.btn.btn-default.a3-delete-workspaces-btn {
    outline: none;
}

.a3-managing-workspaces-lists {
    height: calc(100% - 40px);
}