<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bistel.a3.portal.dao.pdm.std.master.STDEtcMapper">
    <select id="selectMonitoring" resultType="com.bistel.a3.portal.domain.pdm.master.Monitoring">
        select
            *
        from
            monitoring_mst_pdm
        <if test="name != null">
            where name = #{name}
        </if>
    </select>
    
    <insert id="insertMonitoring" databaseId="oracle">
        <selectKey keyProperty="rawId" resultType="Long" order="BEFORE">
            select seq_monitoring_mst_pdm.nextval FROM DUAL
        </selectKey>
        insert into monitoring_mst_pdm (rawid,name,image,datas,width,height,create_by,create_dtts,update_by,update_dtts)
        values (#{rawId,jdbcType=NUMERIC},#{name,jdbcType=VARCHAR},#{image, jdbcType=VARCHAR}
        ,#{datas, jdbcType=VARCHAR}
        ,#{width,jdbcType=NUMERIC}
        ,#{height,jdbcType=NUMERIC}
        ,#{userName}
        ,systimestamp,#{userName},systimestamp)
    </insert>
    <insert id="insertMonitoring" databaseId="postgresql">
        <selectKey keyProperty="rawId" resultType="Long" order="BEFORE">
            select nextval('seq_monitoring_mst_pdm')
        </selectKey>
        insert into monitoring_mst_pdm (rawid,name,image,datas,width,height,create_by,create_dtts,update_by,update_dtts)
        values (#{rawId,jdbcType=NUMERIC},#{name,jdbcType=VARCHAR},#{image, jdbcType=VARCHAR}
        ,#{datas, jdbcType=VARCHAR}
        ,#{width,jdbcType=NUMERIC}
        ,#{height,jdbcType=NUMERIC}
        ,#{userName}
        ,localtimestamp,#{userName},localtimestamp)
    </insert>
    
    <update id="updateMonitoring" databaseId="oracle">
        update monitoring_mst_pdm
        set name = #{name},
            image = #{image},
            datas = #{datas},
            width = #{width,jdbcType=NUMERIC},
            height = #{height,jdbcType=NUMERIC},
            update_by = #{userName},
            update_dtts = systimestamp
        where rawid = #{rawId}
    </update>
    <update id="updateMonitoring" databaseId="postgresql">
        update monitoring_mst_pdm
        set name = #{name},
            image = #{image},
            datas = #{datas},
            width = #{width,jdbcType=NUMERIC},
            height = #{height,jdbcType=NUMERIC},
            update_by = #{userName},
            update_dtts = localtimestamp
        where rawid = #{rawId}
    </update>

    <delete id="deleteMonitoring">
        delete from monitoring_mst_pdm
        where rawid = #{rawId}
    </delete>

    <select id="selectParamHealthSeq" resultType="com.bistel.a3.portal.domain.pdm.std.master.STDParamHealth">

        select seq_param_health_mst_pdm.nextval,
        p.rawid as param_mst_rawid,
        h.rawid health_logic_mst_rawid ,
        case when h.code='FD_OOS' then 'Y'
        when h.code='FD_RULE_1' then 'Y'
        when h.code='FD_CHANGE_RATE' then 'Y'
        when h.code='FP_RUL' then 'N'
        when h.code='FC_CAUSE' then 'N' end apply_logic_yn
        from param_mst_pdm p, health_logic_mst_pdm h
        where p.eqp_mst_rawid=#{eqpId}
        and p.rawid=#{paramId}

    </select>

    <select id="selectParamHealth" resultType="com.bistel.a3.portal.domain.pdm.std.master.STDParamHealth">

        select rawid as param_health_mst_rawid, param_mst_rawid, HEALTH_LOGIC_MST_RAWID, apply_logic_yn, create_by, create_dtts, update_by, update_dtts
        from param_health_mst_pdm
        where health_logic_mst_rawid =2
        and param_mst_rawid=#{paramId}

    </select>

    <select id="selectParamHealthOption" resultType="com.bistel.a3.portal.domain.pdm.std.master.STDParamHealth">
        select a.rawid as param_health_option_mst_rawid, a.param_health_mst_rawid
        from PARAM_HEALTH_OPTION_MST_PDM a, param_health_mst_pdm b
        where 1=1
        and a.PARAM_HEALTH_MST_RAWID=b.rawid
        and b.param_mst_rawid=#{paramId}
    </select>

    <select id="selectParamHealthMstRawIdByParamId" resultType="Long">
        select rawid
        from param_health_mst_pdm
        where param_mst_rawid=#{paramId}
    </select>

    <select id="selectParamHealthOptMstRawIdByMstRawId" resultType="Long">
        select rawid
        from param_health_option_mst_pdm
        where param_health_mst_rawid=#{param_health_mst_rawid}
    </select>

    <delete id="deleteParamHealthOptionMstPdmByRawId">
        delete
        from PARAM_HEALTH_OPTION_MST_PDM
        where rawid=#{param_health_option_mst_rawid}
    </delete>

    <delete id="deleteParamHealthMstPdmByRawId">
        delete
        from param_health_mst_pdm
        where rawid=#{param_health_mst_rawid}
    </delete>

    <delete id="deleteParamHealthMstAll">
        delete
        from param_health_mst_pdm
    </delete>

    <delete id="deleteParamHealthOptMstAll">
        delete
        from PARAM_HEALTH_OPTION_MST_PDM
    </delete>



    <insert id="insertParamHealth" databaseId="oracle">
        insert into param_health_mst_pdm (rawid, param_mst_rawid, health_logic_mst_rawid, apply_logic_yn, create_by, create_dtts, update_by, update_dtts)
        values(seq_param_health_mst_pdm.nextval ,#{param_mst_rawid}, #{health_logic_mst_rawid},  #{apply_logic_yn}, #{userName} ,systimestamp, #{userName}, systimestamp)
    </insert>

    <insert id="insertParamHealth" databaseId="postgre">
        <!-- To do List -->

    </insert>

    <insert id="insertParamHealthOptionTotal" databaseId="oracle">
        insert into param_health_option_mst_pdm (rawid, param_health_mst_rawid, option_name, option_value, description, create_by, create_dtts, update_by, update_dtts)
        values(seq_param_health_opt_mst_pdm.nextval, #{param_health_mst_rawid}, #{option_name}, #{option_value}, #{description,jdbcType=VARCHAR}, #{userName}, systimestamp, #{userName}, systimestamp )
    </insert>

    <insert id="insertParamHealthOptionSpecific" databaseId="oracle">
        insert into param_health_option_mst_pdm (rawid, param_health_mst_rawid, option_name, option_value, description, create_by, create_dtts, update_by, update_dtts)
        values(seq_param_health_opt_mst_pdm.nextval, #{param_health_mst_rawid}, #{option_name}, #{option_value}, #{description,jdbcType=VARCHAR}, #{userName}, systimestamp, #{userName}, systimestamp )
    </insert>

</mapper>