<div class="a3-global-configuration" [ngClass]="{active: isActive}">
    <div class="user-information">
        <div class="header-option">
            <div class="pull-left">
                <span class="user-img"></span>
                <ul>
                    <!--<li class="department">Department</li>-->
                    <li class="user-name">{{userName}}</li>
                </ul>
            </div>
            <div class="pull-right">
                <button class="close pe-7s-close" (click)="closeConfiguration()"></button>
            </div>
        </div>

        <div class="a3-list-container">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" *ngFor="let application of applications">
                    <div class="panel-heading" role="tab" id="heading_{{application?.applicationId}}">
                        <h4 class="panel-title">
                            <span class="a3-panel-icon"></span>
                            <span class="a3-app-name">{{ application?.name }}</span>
                        </h4>
                    </div>
                    <div>
                        <div class="panel-body">
                            <ul class="list-default">
                                <li *ngFor="let menu of application.menus" [ngClass]="{ 'active': menu?.menuId === selectedMenu?.menuId }" (click)="goMenu(application.applicationId, menu.menuId)">
                                    <span>{{ menu.name }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="a3-content-container">
            <div class="a3-configuration-builder height-full" [configuration]="selectedApplication"></div>
        </div>
    </div>
</div>