<div bsModal #smModal="bs-modal"
     class="modal fade"
     role="dialog"
     aria-labelledby="confirm"
     aria-hidden="true"
     (click)="$event.stopPropagation();"
     (onHide)="cancel()">

    <div class="modal-dialog a3-modal-dialog-addShare">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                    class="close pe-7s-close a3-header-close"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="$event.preventDefault(); $event.stopPropagation(); cancel()">
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Share - {{info.name}}</h4>
            </div>
            <!-- search input box -->
            <!-- Group slide screen -->
            <!-- User slide screen -->
            <shared-body #shareBody></shared-body>
        </div>
    </div>

</div>
