.a3-wrapper .a3-sidebar-container .contents.app-list {
  width: calc( 100% - 56px);
  padding-top: 3px;
  margin-left: 10px;
}

.a3-wrapper .a3-sidebar-container .contents.app-list .chart-name {
  margin-bottom: 4px;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.a3-wrapper .a3-sidebar-container .user-image .app-list-image {
  width: 47px;
  height: 47px;
}