.bullet { font: 10px sans-serif; }
svg.bullet {
    width: auto !important;
    height: auto !important;
}

.bullet .marker,
.bullet .range,
.bullet .measure {
    transition-duration: 100ms;
}

.bullet .marker { stroke: #ff0000; stroke-width: 2px; }
.bullet .axis line, .bullet .axis path { stroke: #666; stroke-width: .5px; fill: none; }
.bullet .range.s0 { fill: #eee; opacity: 0.5;stroke: #000; stroke-width: 1px; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .label { font-size: 14px; font-weight: bold; }

.bullet.selected .range.s0 { fill: #ddd; }
.bullet.selected .range.s1 { fill: #ccc; }
.bullet.selected .range.s2 { fill: #bbb; }
.bullet.selected .measure.s0 { fill: steelblue; }
.bullet.selected .measure.s1 { fill: #2B547E; }
.bullet.selected .label { font-size: 16px; font-weight: bold; }
