tt.a3-cubenet {
  position: absolute;
  background-color: #0a1f3a;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.a3-bg-star {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(../images/bg-star.png);
}

.a3-sidebar-wrapper.a3-cubenet .a3-sidebar-container {
  background-color: #0E1C2D;
}

.a3-sidebar-wrapper.a3-cubenet .cubenet-container {
  width: 100%;
  height: 100%;
}

.a3-sidebar-wrapper.a3-cubenet .a3-bg-star {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(../images/bg-star.png);
}

.a3-sidebar-wrapper.a3-cubenet .cubenet-image {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.a3-sidebar-wrapper.a3-cubenet .cubenet-image img {
  margin-top: -30px;
  margin-top: -150px;
}

.a3-wrapper .a3-sidebar-wrapper.a3-cubenet .a3-sidebar-container::-webkit-scrollbar-track {
  background: #0A1F3A;
}

.a3-wrapper .a3-sidebar-wrapper.a3-cubenet .a3-sidebar-header {
  background-color: #0E1C2D;
}