.a3-wrapper .a3-sidebar-container .dashboard-card {
    float: left;
    width: 230px;
    padding: 12px;
    margin: 2px;
    background-color: #f6f6f6;
    padding-top: 15px;
    border: 1px solid #222;
    margin-bottom: 8px;
    position: relative;
}
.a3-wrapper .a3-sidebar-container .dashboard-card.shared{
    background-color: #f7faff;;
}
.a3-wrapper .a3-sidebar-container .dashboard-card .shared-user{
    position: absolute;
    padding: 1px 10px;
    background-color: #5477b3;
    top: -7px;
    left: 50%;
    border-radius: 2px;
    margin-left: -60px;
    color: #fff;
}
.a3-wrapper .a3-sidebar-container .dashboard-card .container-group.dashboard-header {
    float: left;
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
    cursor: inherit;
}
.a3-wrapper .a3-dashboard-list-full .dashboard-card {
    margin: 0px 10px 15px 10px;
}
.a3-wrapper .a3-sidebar-container .widgets .container-group {
    padding:14px 0px 14px 0px;
    border-bottom: 0;
}
.a3-wrapper .dashboard-card .contents ul li.dashboard-name {
    color: #535353;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:185px;
}
.a3-wrapper .a3-sidebar-wrapper .dashboard-card .dashboard-header .dashboard-close-btn {
    float: right;
    width: 13px;
    height: 13px;
    margin-top: 2px;
    background-image: url(../images/a3-icon-close.png);
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.a3-wrapper .a3-sidebar-wrapper .dashboard-card .dashboard-header .dashboard-close-btn:hover {
    background-image: url(../images/a3-icon-close-dark.png);
}
.a3-wrapper .dashboard-card .container-group.dashboard-header .dashboard-list ul,
.a3-wrapper .a3-sidebar-wrapper .dashboard-card .container-group.dashboard-header .dashboard-list ul {
    width: 112px;
    color: #a9a9a9;
    font-size: 11px;
}
.a3-wrapper .dashboard-card .shared-co-worker,
.a3-wrapper .a3-sidebar-container .dashboard-card .shared-co-worker {
    padding: 8px 0px;
    width:100%;
    overflow: hidden;
}
.a3-wrapper .dashboard-card .shared-co-worker .co-worker li,
.a3-wrapper .a3-sidebar-container .dashboard-card .shared-co-worker .co-worker li {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background-color: #ddd;
    border-radius: 2px;
}
.a3-wrapper .dashboard-card .shared-co-worker .shared-btn,
.a3-wrapper .a3-sidebar-container .dashboard-card .shared-co-worker .shared-btn {
    width: 24px;
    height: 24px;
    background-image: url(../images/a3-icon-shared-btn.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    float: left;
    margin-right: 4px;
}
.a3-wrapper .dashboard-card .widgets,
.a3-wrapper .a3-sidebar-container .dashboard-card .widgets {
    float: left;
    width: 206px;
    height:100px;
    transition: all 0.2s ease-in-out;
}
.a3-wrapper .dashboard-card .widgets .no-margin,
.a3-wrapper .a3-sidebar-container .dashboard-card .widgets .no-margin {
    margin-right: 0px;
}
.a3-wrapper .dashboard-card .widgets .margin .widget,
.a3-wrapper .a3-sidebar-container .dashboard-card .widgets .widget {
    float: left;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-direction: column;
    margin-right:2px;
}
.a3-wrapper .dashboard-card .widgets .widget .widget-image,
.a3-wrapper .a3-sidebar-container .dashboard-card .widgets .widget .widget-image {
    float: left;
    margin-bottom: 2px;
    background-color: #eee;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
}
.a3-wrapper .dashboard-card .widgets .margin .widget .widget-name,
.a3-wrapper .a3-sidebar-container .dashboard-card .widgets .margin .widget .widget-name {
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dashboard-card .carousel-inner{
  margin-bottom:5px;
}

/* delete dashboard popover */
.modal .a3-dashboard-modal-content {
    float: left;
    width: 735px;
    height: 773px;
    border-radius: 0px;
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-header {
    width: 100%;
    height: 50px;
    border-bottom: none;
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-header ul,
.modal .a3-dashboard-modal-content .a3-dashboard-modal-header ul li {
    float: left;
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-header .dashboard-modal-icon {
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-right: 5px;
    background-image: url(../images/a3-icon-modal.png);
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-header .dashboard-modal-title {
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    color: #333;
    line-height: 25px;
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-header .dashboard-modal-btn {
    margin-right: 5px;
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-header .dashboard-modal-btn .btn {
    font-size: 11px;
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-body {
    float: left;
    overflow-y: auto;
    height: calc(100% - 50px);
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-body .dashboard-card::before {
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .6;
    content: " ";
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-body .dashboard-card {
    position:relative;
    margin: 15px 6px 0px 6px;
    border: 1px solid #e6e6e6;
}
/*
.modal .a3-dashboard-modal-content .a3-dashboard-modal-body .dashboard-card::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    background-image: url(../images/a3-icon-list-check.png);
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 17px 18px;
    border-radius: 50%;
    cursor: pointer;
    content: " ";
}
*/
.modal .a3-dashboard-modal-content .a3-dashboard-modal-body .dashboard-card.active::before {
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    content: " ";
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-body .dashboard-card.active::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    background-image: url(../images/a3-icon-list-check.png);
    background-color: #1fb5ac;
    background-repeat: no-repeat;
    background-position: 17px 18px;
    border-radius: 50%;
    cursor: pointer;
    content: " ";
}
.modal .a3-dashboard-modal-content .a3-dashboard-modal-body .dashboard-card:nth-child(1),
.modal .a3-dashboard-modal-content .a3-dashboard-modal-body .dashboard-card:nth-child(2),
.modal .a3-dashboard-modal-content .a3-dashboard-modal-body .dashboard-card:nth-child(3) {
    margin-top: 0px;
}

/* popover */
.a3-dashboard-popover {
    position: absolute;
    top: -3px;
    right: 18px;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    padding: 2px 5px 2px 4px;
    background-color: #e60000;
    border-radius: 2px;
    z-index: 1000;
}
.a3-dashboard-popover .a3-popover-num {
    color: #fff;
    font-size: 11px;
}

/* popover arrow */
.a3-default .a3-dashboard-popover > .a3-popover-arrow {
    top: 50%;
    right: -4px;
    margin-top: -4px;
    border-left-color: #0d0d0d;
    border-right-width: 0;
}
.a3-default .a3-dashboard-popover > .a3-popover-arrow::after {
    bottom: -3px;
    right: 1px;
    content: " ";
    border-left-color: #e60000;
    border-right-width: 0;
}
.a3-dashboard-popover > .a3-popover-arrow {
    border-width: 4px;
}
.a3-dashboard-popover > .a3-popover-arrow::after {
    content: "";
    border-width: 3px;
}
.a3-dashboard-popover > .a3-popover-arrow,
.a3-dashboard-popover > .a3-popover-arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.dashboard-card .widget-pagenation {
    height: 20px;
}
