.guide.axis path,
.guide.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.guide.x.axis path {
    /*display: none;*/
}
.guide.y.axis path {
    /*display: none;*/
}

.guide-x-start-line {
    fill: none;
    stroke: #00ff00;
    shape-rendering: crispEdges;
}

.guide-x-end-line {
    fill: none;
    stroke: #00ff00;
    shape-rendering: crispEdges;
}

.guide-y-start-line {
    fill: none;
    stroke: #ff0000;
    shape-rendering: crispEdges;
}

.guide-y-end-line {
    fill: none;
    stroke: #ff0000;
    shape-rendering: crispEdges;
}

.guide-area {
    fill: #CCC;
    fill-opacity: 0.4;
}
