.a3-layer-header{
    height:41px;
    background: #fff;
    position: absolute;
    width:100%;
    z-index: 10;
}
.a3-layer-back{
    background:url(../images/a3-icon-layer-back-dark.png) no-repeat;
    float:right;
    width:34px;
    height:34px;
    margin:6px 6px;
    z-index: 100;

}
.a3-layer-back:hover{
    background:url(../images/a3-icon-layer-back-dark-hover.png) no-repeat;
    float:right;
    width:34px;
    height:34px;
    margin:6px 6px;
}
