/* NEW Mi Login ------------------------------------------------------------------------------------------*/
.login-page {
  overflow: hidden;
  min-height: 600px;
}

.a3-login-wrapper {
  min-width: 1000px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.a3-login-left {
  padding: 0;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #254474;
}

.a3-login-left .login-input-warpper {
  width: 220px;
}

.a3-login-logo .a3-login-title {
  font-weight: bold;
}

.a3-login-logo .a3-login-ver {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.login-input-warpper .form-wrapper {
  width: 220px;
  height: 32px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-size: 14px;
}

.form-wrapper .icon-id {
  background-image: url(../images/login-id.svg);
  background-position: 7px 10px;
  background-repeat: no-repeat;
  background-size: 15px;
  position: absolute;
  padding: 15px;
  z-index: 10;
}

.form-wrapper .icon-password {
  background-image: url(../images/login-password.svg);
  background-position: 8px 7px;
  background-repeat: no-repeat;
  background-size: 14px;
  position: absolute;
  padding: 15px;
  z-index: 10;
}

.a3-login-form input:-webkit-autofill, .a3-login-form input:-webkit-autofill:hover, .a3-login-form input:-webkit-autofill:focus, .a3-login-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.a3-login-form .form-control {
  padding-left: 27px;
  height: 32px;
}

.a3-login-left .a3-login-form .btn.a3-login-btn {
  width: 220px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #579eff;
  border: 1px solid #579eff;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 32px;
}

.a3-login-left .a3-login-form .btn.a3-login-btn:hover {
  background-color: #3e89f0;
  border: 1px solid #3e89f0;
}

.a3-login-left .a3-login-form .a3-login-validation {
  display: block;
  color: #ffd600;
  font-size: 13px;
  height: 15px;
}

.a3-login-left .a3-login-logo {
  margin: 0px auto;
  position: relative;
  margin-bottom: 30px;
  display: block;
  font-family: sans-serif;
  color: #fff;
}

.a3-login-right {
  padding: 0;
  height: 100%;
}

.a3-login-right .login-bg-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.a3-login-right .a3-login-bg {
  background-image: url(../images/login-image.svg);
  background-repeat: no-repeat;
  height: 70%;
  width: 70%;
  text-align: center;
  background-position: 50%;
}

.a3-login-right .a3-login-text {
  width: 100%;
  height: 75px;
  color: #787c80;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 10px;
}

.a3-login-right .a3-login-text .login-headline {
  font-size: 28px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.a3-login-right .a3-login-text .login-paragraph {
  font-size: 15px;
  line-height: 1.2em;
  color: #ababab;
}

@media (max-width: 991px) {
  .a3-login-left {
    width: 33.3%;
  }
  .a3-login-right {
    width: 66.7%;
  }
}