.a3-sidebar-small .a3-map{
	height: 50%;
}
.a3-sidebar-small .a-net {
    height: 50%;
}
.a3-sidebar-small .a-net {
	background-color: #fff;
    padding: 10px;
    overflow-y: auto;
}
.a3-wrapper .a3-map-wrapper .a3-sidebar-container{
    overflow: inherit;
    padding:0px;
}
.a3-map-wrapper .a3-sidebar-container .a-net-on,
.a3-map-wrapper .a3-sidebar-container .a-net-off{
    height:100%;
}
.a3-sidebar-wrapper.a3-sidebar-small .a-net-off .a3-map{
    height:100%;
}
.a3-sidebar-wrapper.a3-sidebar-small .a-net-off .a3-map .a3-map-type{
    display: none;
}
.a3-sidebar-wrapper.a3-sidebar-small .a-net-off .a-net{
    right: -300px;
    transition: all 0.1s ease-in-out;
}
.a3 .a3-sidebar-wrapper.a3-map-wrapper {
    background-color: #eee;
}
.a3-map-wrapper .resize-icon {
	display: none;
}
.a3-map-wrapper .a3-sidebar-container .a-net-on .a3-map {
    width:100%;
    height:100%;
    display: inline-block;
    float: left;
    transition: all 0.1s ease-in-out;
}
.a3-map-wrapper .a3-sidebar-container .a-net-off .a3-map {
    width:100%;
    height:100%;
    display: inline-block;
    transition: all 0.1s ease-in-out;

}
.a3-map-wrapper .a3-sidebar-container .a-net {
	position: absolute;
    top: 0;
    right: -308px;
    width: 308px;
    height: 100%;
    padding: 15px 7px 15px 15px;
    background-color: #3E3E3E;
    border-left: 1px solid #000;
    transition: all 0.1s ease-in-out;
}
.a3-map-wrapper .a3-sidebar-container .a-net.a-net-open {
    right: 0px;
    transition: all 0.1s ease-in-out;
    overflow-y: scroll;
}
.a3-map-wrapper .a-net .a-net-calendar{
    overflow: hidden;
    margin-bottom:30px;
}
.a3-map-wrapper .a-net h5{
    margin-bottom:15px;
}
.a3-map-wrapper .a-net .title{
    font-size: 13px;
    margin-bottom:5px;
    color:#333;
}
.a3-map-wrapper .a-net .a-net-schedule .weekend,
.a3-sidebar-small .a-net .a-net-schedule .weekend  {
	width: 100%;
}
.a3-map-wrapper .a-net .a-net-schedule .weekend label,
.a3-sidebar-small .a-net .a-net-schedule .weekend label {
    font-size: 10px;
}
.a3-schedule-box{
    margin-top:15px;
}
.a3-schedule-box .weekend .btn,
.a3-map-wrapper .a-net .a-net-schedule .weekend .btn{
    padding:8px 4px;
    width:35px;
    border:1px solid #444;
    font-size: 11px;
}
.a3-map-wrapper .a-net .a-net-schedule .weekend .btn.disabled{
    border:1px solid #bbb;
}
.a3-schedule-box .a-net-name{
    margin-bottom:20px;
}
.a3-schedule-box .a3-missing-name {
    display: none;
}
.a3-schedule-box .a3-missing-name.active {
    display: block;
    margin-top: 5px;
    color: #ff3d3d;
}
.a3-schedule-box .btn-area{
    text-align: right;
}
.a3-map-wrapper .a-net .a-net-schedule .dropdown-menu{
    width: 265px;
    padding:10px;
}
.a3-map-wrapper .a-net .a3-schedule .input-group .input-group-btn button,
.a3-sidebar-small .a-net .a-net-schedule .input-group .input-group-btn button {
	height: 28px;
}
.a-net-schedule .schedule-group .form-group{
    width:100px;
    float:left;
}
.a-net-schedule .every{
    width:40px;
    float:left;
    line-height: 26px;
    text-align: right;
    padding-right: 4px;
    font-size:11px;
}
.a-net-schedule .time-group .title{
    float: left;
    margin-right: 10px;
    line-height: 26px;
}
.a-net-schedule .time-group .form-control{
    width:45px;
}
.a-net-schedule .time-group .input-group{
    float: left;
}
.a-net-schedule .time-group .hour,
.a-net-schedule .time-group .a3-colon {
    float:left;
}
.a-net-schedule .time-group .a3-colon {
    margin: 0px 3px;
    line-height: 28px;
}
.a3-schedule-group .a-net-schedule .a3-datetime-input{
    float:left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:76px;
}
.a-net-schedule .time-group .a3-datetime-calendar{
    float:left;
    margin-right:10px;
    border-left:0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height:28px;
    width: 36px;
}
.a-net-schedule hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.time-title{
    font-size: 11px;
    float:left;
    line-height: 27px;
    margin-right:10px;
}
.a-net .a-net-header{
    width:100%;
    margin-bottom:10px;
}
.a-net .a-net-header .header-title{
    height:28px;
    line-height: 28px;
    color: #fff;
    font-size:14px;
}
.a-net .a-net-header .add-scheduling {
    position: absolute;
    right: 7px;
    color: #fff;
    border: 1px solid #cecece;
    border-radius: 2px;
    padding: 7px 9px;
}
.a-net .a-net-header .add-scheduling:hover{
    background-color: #4e4e4e;
    border: 1px solid #555;
    color: #fff;
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper {
    position: absolute;
    top: 0;
    left: -231px;
    width: 230px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    text-align: center;
    transition: all 0.1s ease-in-out;
    z-index: 2;
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper.a3-user-listbar-open {
    left: 0;
    transition: all 0.1s ease-in-out;
    overflow-y: scroll;
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper .a3-title {
    display: block;
    margin-bottom: 25px;
    font-size: 18px;
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper .a3-user-lists {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-direction: column;
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper .a3-user-lists li {
    margin-bottom: 12px;
    color: #666;
    font-size: 13px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper .a3-user-lists li:hover {
    color: #333;
    -webkit-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3);
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper .a3-user-lists li.a3-selected {
    color: #3793ff;
    -webkit-transform: none;
    transform: none;
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper .a3-user-lists li:last-child {
    margin-bottom: 0px;
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper .user-list-home{
	text-align: center;
	margin-bottom:10px;
	cursor: pointer;
	font-size: 13px;
	transition: all 0.2s ease;
}
.a3-map-wrapper .a3-sidebar-container .a3-user-lists-wrapper .user-list-home:hover{
	color: #333;
	-webkit-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);
}
.a3-user-lists-wrapper .nav.nav-tabs {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 15px;
}
.a3-user-lists-wrapper .nav>li>a {
  padding: 8px 21px;
	margin-right: 0;
}
.a3-schedule-container .a3-schedule-header .name{
    font-weight: bold;
    color:#333;
    height:18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.a3-schedule-container .a3-schedule-header .scheduling {
    display: -webkit-box;
    height: 30px;
    line-height: 14px;
    color: #989898;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.a3-schedule-container .a3-icon-schedule{
    font-size:30px;
    background-color: #f5f5f5;
    border-radius: 50%;
    padding:10px;
    float:left;
    margin-right:10px;
    width:50px;
    height:50px;
    position: relative;
}
.a3-schedule-container .a3-icon-schedule.run {
    background-color: #2f83f3;
    color: #fff;
}
.a3-schedule-container .a3-icon-schedule.run i {
    color: #fff;
}
.a3-schedule-container .a3-icon-schedule i{
    position: absolute;
    top:10px;
    left:13px;
    color: #484848;
    cursor: pointer;
}
.a3-schedule-container .a-net-weekend{
    margin-bottom: 8px;
    margin-top:8px;
}
.a3-schedule-container .a-net-weekend .btn.disabled {
    background-color: #d6d6d6;
    color:#555;
}
.a3-schedule-container .a3-schedule-group{
    border:1px solid #222;
    background-color: #fff;
    padding:15px;
    margin-bottom:15px;
    padding: 46px 14px 15px 14px;
    position: relative;
}
.a3-schedule-container .a3-schedule-group:last-child {
    margin-bottom: 0px;
}
.a3-schedule-container .a3-schedule-group.save .a3-schedule-box,
.a3-schedule-container .a3-schedule-group.no-report .a3-reported-box {
    display: none;
}
.a3-schedule-container .a3-schedule-group .icon-group{
    position: absolute;
    top:0px;
    right:0px;
    padding:8px 10px;
    background-color: #eee;
    transition: all 0.2s ease-in-out;
    width:100%;
}
.a3-schedule-container .a3-schedule-group:hover .icon-group{
    display: inherit;
    transition: all 0.2s ease-in-out;
    opacity: 1.0;
}
.a3-schedule-container .a3-schedule-group .icon-group i:hover{
    opacity: 1.0;
}
.a3-schedule-container .a3-schedule-group .icon-group .setup{
    background: url(../images/a3-icon-widget-option.png) no-repeat center;
    content: '';
    width: 15px;
    height: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    float:left;
    opacity: 0.6;
    margin-right:8px;
    float:right;
}
.a3-schedule-container .a3-schedule-group .icon-group .remove{
    width: 15px;
    height: 15px;
    content: '';
    background: url(../images/a3-icon-close-dark.png) no-repeat center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    float:left;
    opacity: 0.5;
    float:right;
}
.a3-schedule-container .a3-schedule-group .form-group{
    margin-bottom:0px;
}
.a3-schedule-container .a3-schedule-group .a3-reported-items {
    position: relative;
    display: inline-block;
    padding-left: 60px;
    width:100%;
}
.a3-schedule-container .a3-schedule-group .a3-reported-items .a3-more {
    position: absolute;
    top: -14px;
    right: 0;
    color: #03a9f4;
}
.a3-reported-items li {
    cursor: pointer;
    line-height: 20px;
}
.a-net .a3-schedule-container .a3-schedule-group .a3-remove,
.modal-dialog.modal-dialog-map .a3-remove {
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    padding: 12px;
    color: #fff;
    text-align: center;
    z-index: 10;
    content: " ";
}
.a-net .a3-schedule-container .a3-schedule-group .a3-remove .a3-remove-btns,
.modal-dialog.modal-dialog-map .a3-remove .a3-remove-btns {
    margin-top: 8px;
}
.a-net .a3-schedule-container .a3-schedule-group .a3-remove .a3-remove-btns .btn-danger,
.modal-dialog.modal-dialog-map .a3-remove .a3-remove-btns .btn-danger {
    margin-left: 2px;
}
/*
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border:1px solid #444;
}
.btn-group > :first-child:not(.dropdown-toggle):not(:last-child).btn{
    border:1px solid #444;
}
*/
.a3-map-wrapper .a3-map {
    position: relative;
}
.a3-map-wrapper .a3-map .a3-map-container {
	position: fixed;
	width: 100%;
	padding: 10px;
	background-color: rgba(238, 238, 238, 0.9);
  z-index: 1;
}
.a3-map-wrapper .a3-tooltip {
	padding: 15px;
}
.a3-map .a3-user-list-btn,
.a3-map .a3-workflow-list {
    float: left;
}
.a3-map .a3-workflow-list,
.a3-map .a3-search-form {
    margin-left: 5px;
}

/* Managing Workspaces */
.a3-map .a3-search-form {
  float: left;
  width: 180px;
}
.a3-map .a3-managing-workspaces-btn {
	float: left;
	width: 28px;
  height: 28px;
  margin-right: 5px;
  padding: 3px 9px;
  background-image: url(../images/a3-managing-workspaces.svg);
  background-size: 13px;
  background-position: 6px 7px;
  background-repeat: no-repeat;
}
.a3-map .a3-user-list-btn {
  position: relative;
  padding-left: 26px;
}
.a3-map .a3-user-list-btn i {
  position: absolute;
  top: 7px;
  left: 9px;
  font-size: 12px;
}
.a3-map .a3-user-list-btn i.a3-shared {
  color: #ff9333;
}
.a3-map-link {
  fill: none;
  stroke: #666;
}
.a3-map-link.highlight{
  fill: none;
  stroke: yellow;
}
.a3-map-link.highlight.parent{
  fill: none;
  stroke: orange;
}
.a3-map-circle {
  fill: #fff;
  stroke: #333;
  stroke-width: 2px;
}
.a3-map-circle.highlight {
  fill: #666666;
  stroke: yellow;
  stroke-width: 2px;
}
.a3-map-circle.highlight.parent {
  fill: #666666;
  stroke: orange;
  stroke-width: 2px;
}
.a3-map-text {
  font: 11px sans-serif;
  fill: #FFFFFF;
}
.a3-map-text.highlight{
  font: 11px sans-serif;
  fill: yellow;
}
.a3-map-text.highlight.parent{
  font: 11px sans-serif;
  fill: orange;
}
.a3-map-type{
    position: absolute;
    padding-left: 10;
    bottom:0;
}
.a3-sidebar-small .a-net-on .a3-map-type{
    margin-top: -50px;
}
.canvas .background {
    fill: #3e3e3e;
    cursor: move;
}
.canvas .minimap .map .background {
    stroke: yellow;
    stroke-width: 4px;
}
.canvas .minimap .frame .background {
    stroke: #111111;
    stroke-width: 2px;
    fill-opacity: 0.1;
    fill: Azure;
    /*fill: url(#minimapGradient);*/
    /*filter: url(#minimapDropShadow);*/
    cursor: move;
}
.minimap-text-rect {
    fill: lightgray;
    fill-opacity: 0.5;
}
.a3-map-wrapper .node text {
    text-shadow: 0;
}
.a-net::-webkit-scrollbar-track,
.a-net::-webkit-scrollbar-thumb {
    background: #3E3E3E;
}
.a3-user-lists-wrapper::-webkit-scrollbar-track,
.a3-user-lists-wrapper::-webkit-scrollbar-thumb,
.a3-shared-cards-wrapper::-webkit-scrollbar-track,
.a3-shared-cards-wrapper::-webkit-scrollbar-thumb {
    background: #fff;
}
.modal-schedule-report .modal-body{
    min-height: 200px;
    max-height: 400px;
    overflow-y:auto;
}

.a3-map .a3-managing-workspaces {
	position: absolute;
	top: 0px;
	left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
	transition: all 0.1s ease-in-out;
}
.a3-map .a3-managing-workspaces.a3-open {
	left: 0px;
	padding: 10px;
	transition: all 0.1s ease-in-out;
}
.a3-map .a3-managing-workspaces .pull-right {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
	-ms-flex-pack: justify;
  width: 466px;
}
.a3-tools-popup {
	right: 10px;
  left: initial !important;
	width: 180px;
  padding: 10px;
}
.a3-tools-popup .a3-delete-workspaces-btn {
	width: 100%;
	margin-bottom: 15px;
}
.a3-managing-workspaces-lists {
	height: calc(100% - 10px);
}
.a3-managing-workspaces-lists > wj-flex-grid {
	border: none;
}
.a3-managing-workspaces-lists .wj-colheaders .wj-header,
.a3-managing-workspaces-lists .wj-topleft .wj-header {
	border-top: 1px solid #ddd;
}
.a3-managing-workspaces-lists .wj-topleft .wj-header,
.a3-managing-workspaces-lists .wj-rowheaders .wj-cell {
	border-left: 1px solid #ddd;
}
.a3-managing-workspaces-lists input[type="checkbox"] {
	float: initial;
}
.a3-managing-workspaces .a3-page-index {
	width: 84px;
}
.a3-map .a3-managing-workspaces.a3-open .fa-star {
	color: #c3c3c3;
	cursor: pointer;
}
.a3-managing-workspaces .wj-header .fa-star,
.a3-managing-workspaces .wj-header .fa-cog {
	display: none;
}
.a3-map .a3-managing-workspaces.a3-open .fa-star.active {
	color: #ffca58;
}
.a3-managing-workspaces .header-option {
	padding-bottom: 15px;
}
.a3-managing-workspaces .a3-title {
	float: left;
	line-height: 28px;
}
.a3-map .a3-back-btn {
	float: left;
	width: 28px;
	margin-right: 7px;
	padding: 4px 7px;
}
.a3-managing-workspaces .a3-delete-workspaces-btn {
	margin-left: 5px;
}

/* Edit Workspace Modal */
.a3-modal-dialog-toggle .modal-body {
	padding: 0px;
}
.a3-modal-dialog-toggle .a3-body-edit-workspace,
.a3-modal-dialog-toggle .a3-body-add-share {
	padding: 15px;
}
.a3-modal-dialog-toggle .a3-body-add-share {
	position: absolute;
  top: 0;
  right: -570px;
  width: 100%;
  height: 100%;
	background: #fff;
	border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
	transition: all .1s ease-in-out;
	overflow: hidden;
}
.a3-modal-dialog-toggle .a3-body-add-share.a3-slide-open {
	right: 0px;
	transition: all .1s ease-in-out;
	overflow: initial;
}
.a3-modal-dialog-toggle .a3-limit-text {
  display: block;
	height: 17px;
	margin-top: 7px;
  margin-bottom: 10px;
  color: #ff3d3d;
}
.a3-modal-dialog-toggle .a3-btns-wrapper {
	float: right;
}
.a3-modal-dialog-toggle .a3-btns-wrapper button {
	float: left;
	margin-left: 5px;
}

/* Add Shard Modal */
.a3-modal-dialog-addShare {
    width: 558px;
}
.a3-modal-dialog-addShare .modal-content {
	max-height: 490px;
}
.a3-modal-dialog-addShare .a3-header-close {
	margin-right: -12px;
}
/*
.a3-modal-dialog-addShare .modal-title {
	margin-left: 3px;
}
*/
.a3-modal-dialog-addShare .a3-add-share {
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
}
.a3-modal-dialog-addShare .a3-shared-lists {
	position: relative;
}
/* --------------- 추후 삭제 예정 ---------------- */
.a3-modal-dialog-addShare .a3-add-share input {
    float: left;
    width: calc(100% - 63px);
}
/* -------------------------------------------- */
.a3-modal-dialog-addShare .a3-share-btn,
.a3-modal-dialog-addShare .nav-tabs>li {
    float: right;
}
.a3-modal-dialog-addShare .nav.nav-tabs {
	margin-bottom: 5px;
}
.a3-modal-dialog-addShare .a3-shared-lists-title {
	line-height: 12px;
}
.a3-modal-dialog-addShare .tab-pane {
	height: 212px;
	min-height: 212px;
  overflow-y: scroll;;
}
.a3-modal-dialog-addShare .a3-shared-card {
    float: left;
    position: relative;
    width: 257px;
    padding: 18px;
    margin: 3px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
		cursor: pointer;
}
.a3-modal-dialog-addShare .a3-shared-card.user:hover {
	border: 1px solid #90c44f;
	transition: all 0.2s ease-in-out;
}
.a3-modal-dialog-addShare .a3-shared-card.group:hover {
	border: 1px solid #3163cc;
	transition: all 0.2s ease-in-out;
}
.a3-modal-dialog-addShare .a3-shared-card.user .a3-mark,
.a3-modal-dialog-addShare .a3-shared-card.group .a3-mark {
	position: absolute;
	top: -1px;
	left: -1px;
	border-bottom: solid 25px transparent;
	border-right: solid 25px transparent;
}
.a3-modal-dialog-addShare .a3-shared-card.user .a3-mark {
	border-left: solid 25px #90c44f;
	border-top: solid 25px #90c44f;
}
.a3-modal-dialog-addShare .a3-shared-card.group .a3-mark {
	border-left: solid 25px #3163cc;
	border-top: solid 25px #3163cc;
}
.a3-modal-dialog-addShare .a3-shared-card .a3-mark .fa {
	position: absolute;
	color: #fff;
	font-size: 15px;
}
.a3-modal-dialog-addShare .a3-shared-card .fa-user {
  top: -19px;
  left: -17px;
}
.a3-modal-dialog-addShare .a3-shared-card .fa-users {
  top: -19px;
  left: -19px;
}
.a3-modal-dialog-addShare .a3-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 34px;
}
.a3-modal-dialog-addShare .a3-user-img {
    float: left;
    width: 52px;
    height: 52px;
    background-image: url(../images/users/user-1.png);
    background-size: 52px;
}
.a3-modal-dialog-addShare .a3-user-info {
    float: left;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
		-ms-flex-align: center;
    width: calc(100% - 62px);
    height: 52px;
    margin-left: 10px;
}
.a3-modal-dialog-addShare .a3-name {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.a3-modal-dialog-addShare .a3-email {
    color: #989898;
		font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.a3-modal-dialog-addShare .co-worker {
	height: 24px;
	overflow: hidden;
}
.a3-modal-dialog-addShare .co-worker li {
	float: left;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  background-color: #e8e8e8;
  border-radius: 2px;
}
.a3-modal-dialog-addShare .co-worker .a3-ellipsis-icon {
	display: inline;
	color: #bbbbbb;
	line-height: 42px;
}
.a3-modal-dialog-addShare .a3-shadow-wrapper {
	position: absolute;
  top: 38px;
  left: 0;
  width: 100%;
  height: 212px;
}
.a3-modal-dialog-addShare .a3-shadow {
	position: absolute;
  z-index: 1;
}
.a3-modal-dialog-addShare .a3-shadow-top {
	top: 0;
  left: 0;
	width: inherit;
	height: 10px;
  background: linear-gradient(#fff 10%, transparent) 100% 0;
  background-repeat: no-repeat;
}
.a3-modal-dialog-addShare .a3-shadow-bottom {
	bottom: 0;
  left: 0;
	width: inherit;
	height: 10px;
  background: linear-gradient(transparent, #fff 90%) 0 100%;
  background-repeat: no-repeat;
}
.a3-modal-dialog-addShare .a3-shadow-cover-top {
	position: relative;
	float: left;
	width: 100%;
	height: 10px;
  background: linear-gradient(#fff 50%, transparent) 100% 0;
  background-repeat: no-repeat;
  z-index: 2;
}
.a3-modal-dialog-addShare .a3-shadow-cover-bottom {
	position: relative;
	float: left;
	width: 100%;
	height: 10px;
  background: linear-gradient(transparent, #fff 50%) 0 100%;
  background-repeat: no-repeat;
  z-index: 2;
}


/* slide screen */
.a3-shared-info {
	position: absolute;
  top: -59px;
  left: -560px;
	width: 100%;
	height: 376px;
  background: #fff;
  border-radius: 2px;
	transition: all .1s ease-in-out;
	z-index: 100;
}
.a3-shared-info.a3-slide-open {
	left: 0px;
	transition: all .1s ease-in-out;
}
.a3-shared-info.group .modal-body,
.a3-shared-info.user .modal-body {
	padding: 15px;
	padding-top: 0;
}
/*
.a3-shared-info .a3-group-name {
	color: #3163cc;
  font-size: 25px;
}
*/
.a3-shared-info .a3-back-icon {
	float: right;
	display: inline-block;
	width: 23px;
  height: 23px;
	margin-top: 1px;
  margin-right: 5px;
  background-image: url(../images/a3-back-icon.png);
  background-repeat: no-repeat;
  background-size: 23px;
	cursor: pointer;
}
.a3-shared-info .a3-back-icon:hover {
	background-image: url(../images/a3-back-icon-hover.png);
}
.a3-shared-info .a3-basic-info {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-flex-direction: column;
	        flex-direction: column;
	-ms-flex-direction: column;
}
.a3-shared-info .a3-basic-info .a3-title-img {
	width: 62px;
	height: 62px;
	margin: auto;
	margin-bottom: 7px;
	background-color: #e8e8e8;
  border-radius: 2px;
}
.a3-shared-info .a3-basic-info .modal-title {
	margin: auto;
	margin-bottom: 8px;
	font-size: 25px;
}
.a3-shared-info .a3-shadow-wrapper.a3-group {
	top: 112px;
	height: 195px;
}
.a3-shared-info .a3-shared-users-wrapper,
.a3-shared-info .a3-shared-user-wrapper {
	height: 195px;
	min-height: 195px;
	overflow-y: scroll;
}
.a3-shared-info .a3-shared-user-wrapper {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-flex-direction: column;
	        flex-direction: column;
	-ms-flex-direction: column;
  padding-top: 10px;
}
.a3-shared-info .a3-shared-user-wrapper li {
	width: 220px;
	margin: 0 auto;
	font-size: 13px;
	line-height: 26px;
}
.a3-shared-info .a3-shared-user-wrapper .a3-title {
	display: inline-block;
	width: 97px;
	margin-right: 10px;
	color: #999;
	font-size: 13px;
	text-align: right;
}
.a3-shared-info .a3-shared-card.user {
	cursor: default;
}
.a3-shared-info .a3-shared-card.user:hover {
	border: 1px solid #ccc;
}
.a3-shared-info .a3-shared-users-wrapper::-webkit-scrollbar,
.a3-shared-info .a3-shared-user-wrapper::-webkit-scrollbar,
.a3-modal-dialog-addShare .tab-pane::-webkit-scrollbar {
	width: 1px;
}
.a3-modal-dialog-addShare .tab-pane::-webkit-scrollbar-thumb,
.a3-modal-dialog-addShare .tab-pane::-webkit-scrollbar-track,
.a3-shared-info .a3-shared-users-wrapper::-webkit-scrollbar-thumb,
.a3-shared-info .a3-shared-users-wrapper::-webkit-scrollbar-track,
.a3-shared-info .a3-shared-user-wrapper::-webkit-scrollbar-thumb,
.a3-shared-info .a3-shared-user-wrapper::-webkit-scrollbar-track {
	background: #fff;
}
.a3-map .map-sliderbar-max,
.a3-map .map-sliderbar-min {
	float: right;
	line-height: 26px;
	font-size: 10px;
}
.a3-map .a3-map-slidebar {
    margin: 2px 8px;
}
.a3-map .range .rangeslider:before {
	background: #d2d2d2;
}
