.package-management {
  display: block;
  padding: 10px;
  height: 100%;
}
.package-management .window-length .form-control{
width: 50px;
}
.package-management .a3-configuration-forms-wrapper {
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-flex;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
align-items: center;
height: 100%;
width: 100%;
}
.package-management .a3-form-text.current-text{
text-align: center;
width: initial;
margin: 0 10px;
}
.package-management .fab-label{
margin-right: 10px;
}
.package-management .a3-from-to {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.package-management .a3-modeling-filter-area {
  width: 100%;
}

.package-management .input-append.a3-datetime-picker {
  width: 120px;
}

.package-management .a3-modeling-filter-area {
  padding: 5px 10px;
}

.package-management .pdm-timeline-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.package-management .pdm-timeline-group .a3-form-period {
  display: inline-block;
  margin-bottom: 0;
}

.package-management .pdm-timeline-group .checkbox {
  display: inline-block;
}

.package-management .type-job {
  margin-right: 10px;
}

.package-management .modl-input {
  float: right;
  margin-left: 5px;
}

.package-management .period-form-label {
  text-align: center;
}

.package-management .period-form-label:last-child {
  margin-left: 10px;
}

.package-management .modl-rng {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0px 20px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.package-management .mnth-rng {
  display: inline-block;
  margin-right: 8px;
  white-space: nowrap;
}

.package-management .window-length {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.package-management > .title {
  display: block;
  margin: 0px;
  font-size: 15px !important;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.package-management-content {
  padding: 10px;
  height: calc(100% - 82px);
}

.package-management-content .table tbody {
  overflow-y: auto;
}
/*Auto modeling table*/

.package-management table {
  width: 100%;
  border-top: 1px solid #ddd;
  border-collapse: collapse;
}

.package-management th,
.package-management td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.package-management.job-history-container .wj-cell.wj-header{
background: #eee;
}
.package-management .wjmo-pding {
padding: 10px;
}
