/*
For JSBin compo
Author: Kushagra Gour @chinchang457
http://i.imgur.com/iGkKiOu.gif
*/

.scene {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.cube {
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
          transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
  -webkit-animation: rotatesmall ease 4s infinite 2s;
          animation: rotatesmall ease 4s infinite 2s;
}

.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  border: 1px solid white;
}

.cube-face-front {
  -webkit-transform: translate3d(0, 0, 25px);
          transform: translate3d(0, 0, 25px);
}

.cube-face-back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 25px);
          transform: rotateY(180deg) translate3d(0, 0, 25px);
}

.cube-face-left {
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, 25px);
          transform: rotateY(-90deg) translate3d(0, 0, 25px);
}

.cube-face-right {
  -webkit-transform: rotateY(90deg) translate3d(0, 0, 25px);
          transform: rotateY(90deg) translate3d(0, 0, 25px);
}

.cube-face-top {
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 25px);
          transform: rotateX(90deg) translate3d(0, 0, 25px);
}

.cube-face-bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 25px);
          transform: rotateX(-90deg) translate3d(0, 0, 25px);
}

/* big cube */

#cube2 {
  width: 150px;
  height: 150px;
  left: -50px;
  top: -50px;
  -webkit-transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
          transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
  -webkit-animation: rotatebig ease 4s infinite 2s;
          animation: rotatebig ease 4s infinite 2s;
}

#cube2 .cube-face {
  border-color: rgb(255, 255, 255, 1);
  border-width: 1px;

  /*
  Checkerboard pattern.
  Thanks to awesome article by Lea Verou (http://lea.verou.me/2010/12/checkered-stripes-other-background-patterns-with-css3-gradients/)
  */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, transparent), color-stop(33%, #000), color-stop(34%, #000f), color-stop(34%, transparent), color-stop(65%, transparent), color-stop(65%, #000), color-stop(67%, #000), color-stop(67%, transparent)),
    -webkit-gradient(linear, left top, left bottom, color-stop(32%, transparent), color-stop(32%, #000), color-stop(34%, #000), color-stop(34%, transparent), color-stop(65%, transparent), color-stop(65%, #000), color-stop(67%, #000), color-stop(67%, transparent));
}

#cube2 .cube-face-front {
  -webkit-transform: translate3d(0, 0, 75px);
          transform: translate3d(0, 0, 75px);
}

#cube2 .cube-face-back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 75px);
          transform: rotateY(180deg) translate3d(0, 0, 75px);
}

#cube2 .cube-face-left {
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, 75px);
          transform: rotateY(-90deg) translate3d(0, 0, 75px);
}

#cube2 .cube-face-right {
  -webkit-transform: rotateY(90deg) translate3d(0, 0, 75px);
          transform: rotateY(90deg) translate3d(0, 0, 75px);
}

#cube2 .cube-face-top {
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 75px);
          transform: rotateX(90deg) translate3d(0, 0, 75px);
}

#cube2 .cube-face-bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 75px);
          transform: rotateX(-90deg) translate3d(0, 0, 75px);
}

@-webkit-keyframes rotatesmall {
  from {
    -webkit-transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
            transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
  }
  90% {
    -webkit-transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotatesmall {
  from {
    -webkit-transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
            transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
  }
  90% {
    -webkit-transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotatebig {
  from {
    -webkit-transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
            transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
  }
  90% {
    -webkit-transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(-360deg);
            transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(-360deg);
  }
  to {
    -webkit-transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(-360deg);
            transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(-360deg);
  }
}

@keyframes rotatebig {
  from {
    -webkit-transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
            transform: rotateX(-35.3deg) rotateY(45deg) rotateZ(0deg);
  }
  90% {
    -webkit-transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(-360deg);
            transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(-360deg);
  }
  to {
    -webkit-transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(-360deg);
            transform: rotateX(-215.3deg) rotateY(-45deg) rotateZ(-360deg);
  }
}
