.a3-wrapper .a3-sidebar-wrapper {
  position: absolute;
  top: 40px;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #3E3E3E;
  transition: all 0.1s ease-in-out;
  z-index: 350;
  box-sizing: border-box;
}

.a3-wrapper .a3-sidebar-background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 340;
  position: absolute;
  content: '';
}

.a3-wrapper .a3-sidebar-header {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  color: #fff;
  font-size: 16px;
  background: #2f2f2f;
}

.a3-wrapper .a3-sidebar-header .a3-comment {
  position: absolute;
  top: 9px;
  left: 123px;
}

.a3-wrapper .a3-sidebar-header .a3-comment-icon {
  width: 13px;
  height: 13px;
  background-image: url(../images/a3-icon-comment.png);
  opacity: .7;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.a3-wrapper .a3-sidebar-header .a3-comment-icon:hover {
  opacity: 1;
}

.a3-wrapper .a3-sidebar-header .text {
  position: absolute;
  top: 23px;
  right: -83px;
  width: 206px;
  padding: 10px;
  background-color: #FFF;
  color: #000;
  opacity: .9;
  font-size: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
  z-index: 1;
}

.a3-wrapper .a3-sidebar-header .fa-commenting:hover {
  opacity: 1;
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header li {
  float: left;
  width: 13px;
  height: 13px;
  margin-left: 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header .trash-icon {
  background-image: url(../images/a3-icon-trash.png);
  position: relative;
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header .trash-icon:hover {
  background-image: url(../images/a3-icon-trash-hover.png);
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header .add-icon {
  background-image: url(../images/a3-icon-add.png);
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header .add-icon:hover {
  background-image: url(../images/a3-icon-add-hover.png);
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header .resize-icon {
  background-image: url(../images/a3-icon-resize-full.png);
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header .resize-icon:hover {
  background-image: url(../images/a3-icon-resize-full-hover.png);
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header .close-icon {
  background-image: url(../images/a3-icon-close.png);
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header .close-icon:hover {
  background-image: url(../images/a3-icon-close-hover.png);
}

.a3-wrapper .a3-sidebar-wrapper .a3-sidebar-header .sidebar-icons {
  float: right;
  margin-top: 4px;
}

.a3-wrapper .a3-sidebar-wrapper .a3-scroll-view {
  width: 100%;
  height: 100%;
  padding: 7px;
  overflow: hidden;
}

.a3-wrapper .a3-sidebar-wrapper.a3-sidebar-small {
  right: 0;
  transition: all 0.1s ease-in-out;
}

.a3-wrapper .a3-sidebar-wrapper.a3-sidebar-full {
  right: 0;
  width: 100%;
  transition: all 0.1s ease-in-out;
}

.a3-wrapper .a3-sidebar-wrapper.a3-sidebar-full .a3-sidebar-header .resize-icon {
  background-image: url(../images/a3-icon-resize-sidebar.png);
}

.a3-wrapper .a3-sidebar-wrapper.a3-sidebar-full .a3-sidebar-header .resize-icon:hover {
  background-image: url(../images/a3-icon-resize-sidebar-hover.png);
}

.a3-wrapper .a3-sidebar-wrapper.a3-sidebar-small .a3-sidebar-header .resize-icon {
  background-image: url(../images/a3-icon-resize-full.png);
}

.a3-wrapper .a3-sidebar-wrapper.a3-sidebar-small .a3-sidebar-header .resize-icon:hover {
  background-image: url(../images/a3-icon-resize-full-hover.png);
}

.a3-wrapper .a3-sidebar-container {
  width: 100%;
  height: calc(100% - 80px);
  padding: 7px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.a3-wrapper .a3-sidebar-container .disabled {
  opacity: 0.3;
}

.a3-wrapper .a3-sidebar-container .container-group {
  float: left;
  width: 235px;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-bottom: 1px solid #292929;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.a3-wrapper .a3-sidebar-container .container-group:last-child {
  border-bottom: transparent;
}

.a3-wrapper .a3-sidebar-wrapper.a3-sidebar-full .a3-sidebar-container .container-group {
  margin: 7px;
  border: 1px solid #333;
  height: 150px;
  width: 300px;
  transition: all 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.a3-wrapper .a3-sidebar-wrapper.a3-sidebar-full .a3-sidebar-container .notification-list .container-group {
  float: left;
  width: 300px;
  height: 75px;
  padding: 10px 15px;
  border: 1px solid #292929;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.a3-wrapper .a3-sidebar-container .user-image {
  float: left;
  width: 46px;
  height: 46px;
  margin-top: 2px;
  border-radius: 2px;
}

.a3-wrapper .a3-sidebar-container .user-image .img-circle {
  border: 2px solid #ddd;
}

.a3-wrapper .a3-sidebar-container .contents {
  float: left;
}

.a3-wrapper .contents ul li,
.a3-wrapper .a3-sidebar-container .contents ul li {
  float: none;
  color: #9f9f9f;
  font-size: 11px;
}

.a3-wrapper .contents .content,
.a3-wrapper .a3-sidebar-container .contents .content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.a3-wrapper .a3-sidebar-wrapper.a3-sidebar-full .a3-sidebar-container .contents .content {
  white-space: inherit;
  text-overflow: inherit;
  height: calc(100% - 30px);
}

.a3-wrapper .a3-sidebar-container .container-group:hover li {
  text-decoration: underline;
}

.a3-wrapper .a3-sidebar-container .a3-sidebar-category {
  overflow: hidden;
}

.a3-wrapper .a3-sidebar-container .a3-sidebar-category .a3-sidebar-category-title {
  padding-top: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #ccc;
  padding-left: 5px;
}

.a3-wrapper .a3-sidebar-container .float-wrapper .icon {
  font-size: 105px;
}

/* Dashboard, Widget, Notice Scroll */
.a3-wrapper .a3-sidebar-container::-webkit-scrollbar-track,
.a3-wrapper .a3-sidebar-container .a3-sidebar-group::-webkit-scrollbar-track {
  background: #3E3E3E;
}

.a3-wrapper .a3-sidebar-container::-webkit-scrollbar-thumb,
.a3-wrapper .a3-sidebar-container .a3-sidebar-group::-webkit-scrollbar-thumb {
  background: transparent;
}

/* sidebar child */
.a3-sidebar-wrapper.a3-notification-wrapper.with-child {
  width: 650px;
}

.a3-sidebar-wrapper.a3-notification-wrapper.a3-sidebar-full.with-child {
  width: 100%;
}

.a3-sidebar-wrapper.a3-notification-wrapper.a3-sidebar-full .notification-list {
  width: 100%;
}

.a3-sidebar-wrapper.a3-notification-wrapper .a3-sidebar-container {
  overflow-y: hidden;
}

.a3-sidebar-wrapper.a3-notification-wrapper.with-child .notification-detail {
  display: inherit;
}

.a3-sidebar-wrapper.a3-notification-wrapper .a3-sidebar-container {
  padding: 0px;
}

.a3-sidebar-group {
  float: right;
  height: 100%;
  background: #333;
  width: 250px;
  display: inline-block;
  border-left: 1px solid #222;
  padding: 7px;
}

.a3-notification-wrapper .a3-sidebar-group {
  overflow-y: auto;
}

.a3-notification-wrapper .a3-sidebar-container .read li {
  opacity: 0.7;
}

.a3-notification-wrapper .a3-sidebar-container .read.active li {
  opacity: 1.0;
}

.a3-notification-wrapper .a3-sidebar-container .active {
  background-color: #2175bf;
}

.a3-notification-wrapper .a3-sidebar-container .active .from {
  color: #84b8e6;
}

.a3-notification-wrapper .a3-sidebar-container .active .content,
.a3-notification-wrapper .a3-sidebar-container .active .time {
  color: #84b8e6;
}

.a3-notification-wrapper .notification-detail {
  width: 400px;
}

.a3-notification-wrapper .notification-detail ul {
  padding: 10px;
  color: #eee;
}

.a3-notification-wrapper .notification-detail .time {
  margin-bottom: 12px;
}

.a3-notification-wrapper .notification-detail .user-name {
  font-size: 18px;
  font-weight: normal;
  margin-top: 6px;
  margin-bottom: 6px;
}

.a3-notification-wrapper .notification-detail .from {
  color: #bbb;
}

.a3-notification-wrapper.a3-sidebar-full.with-child .a3-sidebar-group:first-child {
  width: calc(100% - 400px);
}

.a3-notification-wrapper.a3-sidebar-full .a3-sidebar-container .container-group {
  margin: 7px;
  border: 1px solid #292929;
  height: initial;
  width: 235px;
  height: 75px;
  transition: all 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.notification-detail {
  position: relative;
  height: 100%;
  display: none;
}

.notification-detail .a3-sidebar-container {
  height: 100%;
}

.notification-detail .sidebar-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 13px;
  height: 13px;
  margin-left: 12px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

.a3-wrapper .a3-sidebar-wrapper .arrow-right-icon {
  background-image: url(../images/a3-icon-arrow-right.png);
}

.a3-wrapper .a3-sidebar-wrapper .arrow-right-icon:hover {
  background-image: url(../images/a3-icon-arrow-right-hover.png);
}

.a3-notification-wrapper .notification-list {
  padding: 0px;
}

.a3-notification-wrapper .notification-list .container-group {
  width: 100%;
}

.a3-sidebar-notification-group {
  overflow-y: auto;
}