.single-axis path,
.single-axis line {
    fill: none;
    stroke : none;
    shape-rendering: crispEdges;
}
.x.single-axis path {
    stroke: #444;
    display: none;
}
.y.single-axis line {
  stroke: #ddd;

}
.y.single-axis text {
    font: 12px sans-serif;
}
._chart rect {
  stroke: white;
  fill-opacity: .6;
  fill: steelblue;

}
.single-bar.positive {
  fill: steelblue;
}

.single-bar.negative {
  fill: brown;
}

.single-text text {
  font: 12px sans-serif;
}

.single-title text {
  font: 14px sans-serif;
}
