/* User Infomation */
.user-information .header-option {
  width: 100%;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.user-information > .header-option {
  position: relative;
  background-color: #f9f9f9;
}
.user-information .a3-list-container {
  height: calc(100% - 80px);
  background-color: #f9f9f9;
}
.user-information .a3-content-container {
  float: left;
  width: calc(100% - 200px);
  height: calc(100% - 80px);
  padding: 30px;
}
.user-information .a3-form-group {
  height: calc(100% - 39px);
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.user-information .a3-form-group ul {
  margin-top: 25px;
}
.user-information .form-group.a3-input-group {
  position: relative;
  width: 100%;
  padding: 6px 0px 6px 130px;
  margin: 1px 0;
}
.user-information .form-group.a3-input-group:after{
  content: "";
  display: block;
  clear:both;
}
.user-information .form-group.a3-input-group .control-label {
  float: left;
  position: relative;
  padding: 0;
  margin-left: -90px;
  width: 70px;
  text-align: right;
  word-wrap: break-word;
  line-height: 28px;
  margin-right: 20px;
  font-weight: bold;
}
.user-information .form-group.a3-input-group .form-text{
  margin-top:5px;
}
.user-information .a3-content-container .a3-title {
  font-size: 20px;
}
.user-information .a3-content-container .a3-sub-title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.user-information .header-option ul {
  float: left;
  padding: 6px 0px 2px 0px;
}
.user-information .user-img {
  float: left;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  background: url(../images/users/user-1.png) no-repeat;
  background-size: 60px;
  border-radius: 2px;
}
.user-information .user-name {
  font-size: 25px;
}
.user-information .close{
  position:absolute;
  top: -4px;
  right: -4px;
  font-size: 45px;
}
.user-information .a3-content-container .header-option {
  height: initial;
  padding: 0;
  padding-bottom: 10px;
}
.user-information .form-control {
  width: 300px;
}

.user-information .form-group .text-field{
  line-height: 28px;
  word-break: break-all;
}
.user-information .user-information-password .form-group.a3-input-group{
  padding: 6px 0px 6px 0px;
}
.user-information .user-information-password .form-control {
  width:150px;
}
.user-information .user-information-password .form-text {
  padding-left: 153px;
  margin-top: 5px;
}
.user-information .user-information-password .a3-form-group .a3-input-group .control-label{
  width: 145px;
  margin-right: 10px;
  margin-left:0px;
}
